.version.amlutech_imported_product__laptop_computers /* version checker */
{
	color: #000013;
	background-color: #F75921;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 499.3523712646512px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 62px;
}

#pu9135
{
	width: 0.01px;
	margin-left: 14px;
}

#u9135
{
	z-index: 18;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u9115
{
	z-index: 19;
	width: 1253px;
	border-color: #1290C6;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u37343
{
	z-index: 222;
	width: 652px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u37344
{
	z-index: 223;
	width: 120px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/logo1-u37434-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37345
{
	z-index: 224;
	width: 518px;
	height: 56px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 134px;
	background: #FFFFFF url("../images/logo2-u37435-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u32607
{
	z-index: 125;
	width: 393px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 709px;
}

#u32609
{
	z-index: 135;
	width: 62px;
	height: 57px;
	border-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/20160223035837-u32609-fr.png") no-repeat center center;
	background-size: cover;
}

#u32608-9
{
	z-index: 126;
	width: 325px;
	min-height: 57px;
	background-color: transparent;
	color: #1290C6;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u32608-3
{
	font-size: 11px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u32608
{
	font-size: 22px;
	font-weight: bold;
	line-height: 26px;
}

#u32608-2,#u32608-5,#u32608-7
{
	font-size: 10px;
	line-height: 12px;
}

#u32602
{
	z-index: 120;
	width: 119px;
	height: 64px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1124px;
	background: #FFFFFF url("../images/20160220170050-u32602-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u32603-4
{
	z-index: 121;
	width: 65px;
	min-height: 20px;
	background-color: #FCEE21;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	-webkit-transform: matrix(0.9063,-0.4226,0.4226,0.9063,-1,15);
	-ms-transform: matrix(0.9063,-0.4226,0.4226,0.9063,-1,15);
	-o-transform: matrix(0.9063,-0.4226,0.4226,0.9063,-1,15);
	transform: matrix(0.9063,-0.4226,0.4226,0.9063,-1,15);
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 1116px;
}

#u4550
{
	z-index: 6;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	margin-left: 14px;
	margin-top: 7px;
	position: relative;
	border-width: 37px 0px 0px;
}

#u4550_position_content
{
	margin-top: -32px;
	padding-bottom: 18px;
}

#menuu16602
{
	z-index: 136;
	width: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#u16610
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u16611
{
	width: 50px;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 7px;
	position: relative;
}

#u16611:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 50px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u16611:active
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u16613-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u16611:hover #u16613-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u16611:active #u16613-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u16611:hover #u16613-6 p,#u16611:hover #u16613-6 span,#u16611:active #u16613-6 p,#u16611:active #u16613-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u16613-3
{
	font-size: 12px;
	line-height: 17px;
}

#u16617
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u16676
{
	width: 115px;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 7px;
	position: relative;
}

#u16676:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u16676:active
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u16676.MuseMenuActive
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u16677-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u16611.MuseMenuActive #u16613-6,#u16676:hover #u16677-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u16676:active #u16677-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u16676:hover #u16677-6 p,#u16676:hover #u16677-6 span,#u16676:active #u16677-6 p,#u16676:active #u16677-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u16618
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u16642
{
	width: 75px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 86px 6px 2px;
}

#u16645-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u16642:hover #u16645-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u16611.MuseMenuActive #u16613-6 p,#u16611.MuseMenuActive #u16613-6 span,#u16676.MuseMenuActive #u16677-6 p,#u16676.MuseMenuActive #u16677-6 span,#u16642:hover #u16645-5 p,#u16642:hover #u16645-5 span,#u16642.MuseMenuActive #u16645-5 p,#u16642.MuseMenuActive #u16645-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u16645
{
	font-weight: bold;
}

#u16637
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
	padding: 2px 92px 6px 2px;
}

#u16637.MuseMenuActive
{
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #448DD5;
	width: 61px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 0px 4px;
}

#u16640-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u16642.MuseMenuActive #u16645-5,#u16637:hover #u16640-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u16637:hover #u16640-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u16621
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u16622-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u16637.MuseMenuActive #u16640-4,#u16621:hover #u16622-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u16637.MuseMenuActive #u16640-4 p,#u16621:hover #u16622-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u16649
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u16652-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u16621.MuseMenuActive #u16622-4,#u16649:hover #u16652-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u16621.MuseMenuActive #u16622-4 p,#u16649:hover #u16652-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u16658
{
	width: 67px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 94px 6px 2px;
}

#u16660-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u16649.MuseMenuActive #u16652-4,#u16658:hover #u16660-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u16649.MuseMenuActive #u16652-4 p,#u16658:hover #u16660-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u16672
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u16673-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u16658.MuseMenuActive #u16660-4,#u16672:hover #u16673-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u16658.MuseMenuActive #u16660-4 p,#u16672:hover #u16673-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u16619,#u16641,#u16634,#u16620,#u16648,#u16655,#u16669,#u16627
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u16630
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u16642:hover,#u16621:hover,#u16649:hover,#u16658:hover,#u16672:hover,#u16630:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u16633-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u16672.MuseMenuActive #u16673-4,#u16630:hover #u16633-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u16630.MuseMenuActive #u16633-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u16672.MuseMenuActive #u16673-4 p,#u16630:hover #u16633-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u16687
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u16690
{
	width: 132px;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 7px;
	position: relative;
}

#u16690:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u16690:active
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u16692-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u16676.MuseMenuActive #u16677-6,#u16690:hover #u16692-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u16690:active #u16692-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u16690:hover #u16692-6 p,#u16690:hover #u16692-6 span,#u16690:active #u16692-6 p,#u16690:active #u16692-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u16603
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u16606
{
	width: 60px;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 7px;
	position: relative;
}

#u16606:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u16606:active
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u16607-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u16690.MuseMenuActive #u16692-6,#u16606:hover #u16607-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u16606:active #u16607-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u16606:hover #u16607-6 p,#u16606:hover #u16607-6 span,#u16606:active #u16607-6 p,#u16606:active #u16607-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u16613-2,#u16677-2,#u16692-2,#u16607-2
{
	line-height: 20px;
}

#u16680
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u16681
{
	width: 99px;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 7px;
	position: relative;
}

#u16681:hover
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 99px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u16681:active
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 99px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u16684-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u16606.MuseMenuActive #u16607-6,#u16681:hover #u16684-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u16681:active #u16684-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u16681.MuseMenuActive #u16684-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u16681:hover #u16684-6 p,#u16681:hover #u16684-6 span,#u16681:active #u16684-6 p,#u16681:active #u16684-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u16630.MuseMenuActive #u16633-4 p,#u16690.MuseMenuActive #u16692-6 p,#u16690.MuseMenuActive #u16692-6 span,#u16606.MuseMenuActive #u16607-6 p,#u16606.MuseMenuActive #u16607-6 span,#u16681.MuseMenuActive #u16684-6 p,#u16681.MuseMenuActive #u16684-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u16613,#u16677,#u16692,#u16607,#u16684
{
	font-size: 16px;
	line-height: 22px;
}

#u16684-2
{
	font-weight: normal;
	line-height: 20px;
}

#u16677-3,#u16692-3,#u16607-3,#u16684-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4524
{
	z-index: 7;
	width: 1199px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 13px;
	margin-top: 22px;
	position: relative;
	padding: 7px 27px 56px 20px;
}

#pu4527-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u4527-5
{
	z-index: 8;
	width: 296px;
	min-height: 43px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
}

#u16613-4,#u16677-4,#u16692-4,#u16607-4,#u16684-4,#u4527-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4527
{
	line-height: 43px;
}

#u4527-2
{
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
}

#u4528-5
{
	z-index: 13;
	width: 205px;
	min-height: 36px;
	background-color: transparent;
	font-size: 23px;
	line-height: 28px;
	color: #1290C6;
	font-weight: bold;
	margin-top: 13px;
	position: relative;
}

#u4528-2
{
	font-weight: normal;
}

#u31104
{
	z-index: 119;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u17059
{
	z-index: 23;
	width: 491px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 708px;
}

#u17064
{
	z-index: 32;
	width: 251px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u17065
{
	z-index: 39;
	width: 38px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17066
{
	z-index: 40;
	width: 38px;
	height: 34px;
	border-color: #000000;
	-webkit-transform: matrix(-1,0,0,-1,38,34);
	-ms-transform: matrix(-1,0,0,-1,38,34);
	-o-transform: matrix(-1,0,0,-1,38,34);
	transform: matrix(-1,0,0,-1,38,34);
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/20160223054637-u17066-fr.png") no-repeat center top;
	background-size: contain;
}

#u17067-6
{
	z-index: 33;
	width: 205px;
	min-height: 31px;
	background-color: transparent;
	color: #1290C6;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 46px;
}

#u17060
{
	z-index: 41;
	width: 2px;
	height: 39px;
	border-color: #000000;
	background-color: #448DD5;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#u17061
{
	z-index: 24;
	width: 228px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 263px;
}

#u17062-6
{
	z-index: 25;
	width: 190px;
	min-height: 34px;
	background-color: transparent;
	color: #1290C6;
	position: relative;
	margin-right: -10000px;
}

#u17067-2,#u17062-2
{
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	font-style: italic;
}

#u17067-4,#u17062-4
{
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	font-style: normal;
}

#u17063
{
	z-index: 31;
	width: 38px;
	height: 34px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 190px;
	background: #FFFFFF url("../images/20160223054637-u17066-fr.png") no-repeat center top;
	background-size: contain;
}

#u17066:hover,#u17063:hover
{
	margin: 0px -10000px 0px 0px;
	background: #FFFFFF url("../images/20160223054704-u17066-r-fr.png") no-repeat center top;
	background-size: contain;
}

#u29114
{
	z-index: 42;
	width: 1129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 38px;
	margin-top: 20px;
	position: relative;
}

#u29113
{
	z-index: 103;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u36728
{
	z-index: 116;
	width: 148px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	position: relative;
}

#u29077
{
	z-index: 117;
	width: 148px;
	border-color: #000000;
	padding-bottom: 73px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/c04915957-u29077-fr.png") no-repeat left top;
	background-size: contain;
}

#u29093
{
	z-index: 118;
	width: 51px;
	height: 59px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: -14px;
	left: 88px;
	background: transparent url("../images/newicon-u29093-fr.png") no-repeat center center;
	background-size: contain;
}

#pu29075-7
{
	width: 0.01px;
	margin-top: -7px;
}

#u29075-7
{
	z-index: 104;
	width: 190px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u29079
{
	z-index: 115;
	width: 31px;
	height: 38px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 27px;
	background: transparent url("../images/hp_logo-u29079-fr.png") no-repeat center center;
	background-size: contain;
}

#u29078-4
{
	z-index: 111;
	width: 73px;
	min-height: 14px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	margin-left: 72px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u29078-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px -5px 72px;
}

#u29082
{
	z-index: 89;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 235px;
}

#u4549-7
{
	z-index: 90;
	width: 190px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
}

#u4547
{
	z-index: 97;
	width: 124px;
	height: 116px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 38px;
	background: #FFFFFF url("../images/hp%20probook%205330m%20notebook-u4547-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u4546
{
	z-index: 98;
	width: 31px;
	height: 38px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 23px;
	background: transparent url("../images/hp_logo-u29079-fr.png") no-repeat center center;
	background-size: contain;
}

#u11638-4
{
	z-index: 99;
	width: 73px;
	min-height: 14px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	margin-left: 62px;
	margin-top: 5px;
	position: relative;
}

#u11638-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px 0px 0px 62px;
}

#u10940
{
	z-index: 61;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 470px;
}

#u4516
{
	z-index: 73;
	width: 130px;
	height: 103px;
	border-color: #000000;
	margin-left: 34px;
	position: relative;
	background: #FFFFFF url("../images/hp%20250%20notebook%20pc-u4516-fr.jpg") no-repeat left top;
	background-size: contain;
}

#ppu4527-5,#pu4549-7,#pu4513-7
{
	width: 0.01px;
}

#u4513-7
{
	z-index: 62;
	width: 190px;
	min-height: 94px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u29075-3,#u4549-3,#u4513-3
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	color: #1290C6;
}

#u4515
{
	z-index: 74;
	width: 31px;
	height: 38px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 35px;
	background: transparent url("../images/hp_logo-u29079-fr.png") no-repeat center center;
	background-size: contain;
}

#u4514-4
{
	z-index: 69;
	width: 73px;
	min-height: 14px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	margin-left: 70px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u4514-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px -1px 70px;
}

#u29080
{
	z-index: 75;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 704px;
}

#u4534
{
	z-index: 88;
	width: 124px;
	height: 97px;
	border-color: #000000;
	margin-left: 13px;
	position: relative;
	background: #FFFFFF url("../images/hp%20elitebook%20840%20notebook%20pc%20-%20side-u4534-fr.jpg") no-repeat center center;
	background-size: contain;
}

#pu4531
{
	width: 0.01px;
	margin-top: -3px;
}

#u4531
{
	z-index: 76;
	width: 31px;
	height: 38px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 17px;
	background: transparent url("../images/hp_logo-u29079-fr.png") no-repeat center center;
	background-size: contain;
}

#u4533-7
{
	z-index: 77;
	width: 190px;
	min-height: 90px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u4533-2
{
	font-size: 14px;
	color: #1290C6;
	font-weight: bold;
}

#u4533-3
{
	font-size: 12px;
	line-height: 14px;
	color: #1290C6;
}

#u4533-5
{
	font-size: 11px;
	line-height: 13px;
	color: #000000;
}

#u4530-4
{
	z-index: 84;
	width: 73px;
	min-height: 14px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	margin-left: 64px;
	margin-top: 3px;
	position: relative;
}

#u4530-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 3px 0px 0px 64px;
}

#u10942
{
	z-index: 43;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 939px;
}

#u10938
{
	z-index: 48;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u4520
{
	z-index: 59;
	width: 118px;
	height: 112px;
	border-color: #000000;
	margin-left: 36px;
	position: relative;
	background: #FFFFFF url("../images/elitemobileworkstation_3-u4520-fr.jpg") no-repeat left top;
	background-size: contain;
}

#pu4522-10
{
	width: 0.01px;
	margin-top: 2px;
}

#u4522-10
{
	z-index: 49;
	width: 190px;
	min-height: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u29075-2,#u4549-2,#u4513-2,#u4522-2,#u4522-4
{
	font-size: 14px;
	text-align: center;
	color: #1290C6;
	font-weight: bold;
}

#u4522-5
{
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	color: #1290C6;
}

#u29075-5,#u4549-5,#u4513-5,#u4522-7
{
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	color: #000000;
}

#u4522-8
{
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	color: #1290C6;
}

#u4521
{
	z-index: 60;
	width: 31px;
	height: 38px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 13px;
	background: transparent url("../images/hp_logo-u29079-fr.png") no-repeat center center;
	background-size: contain;
}

#u4519-4
{
	z-index: 44;
	width: 73px;
	min-height: 14px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	margin-left: 66px;
	position: relative;
}

#u4519-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px 0px 66px;
}

#u29078-4:hover p,#u11638-4:hover p,#u4514-4:hover p,#u4530-4:hover p,#u4519-4:hover p
{
	text-decoration: underline;
}

#u4551-4
{
	z-index: 2;
	width: 1168px;
	min-height: 25px;
	background-color: transparent;
	color: #666666;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	margin-left: 65px;
	margin-top: 9px;
	position: relative;
}

#u4543-3
{
	z-index: 20;
	width: 190px;
	min-height: 31px;
	background-color: transparent;
	font-size: 10px;
	line-height: 12px;
	color: #1290C6;
	font-weight: bold;
	font-style: normal;
	margin-left: 1056px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

