.version.amlutech__contact_us /* version checker */
{
	color: #0000EE;
	background-color: #5821F3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 499.63125000000014px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 62px;
}

#u8615
{
	z-index: 2;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 6px;
	margin-left: 14px;
	position: relative;
}

#u8595
{
	z-index: 3;
	width: 1253px;
	-pie-box-shadow: 5px 6px 136px #F0F1F3;
	-moz-box-shadow: 5px 6px 136px rgba(225, 228, 231, 0.5);
	-webkit-box-shadow: 5px 6px 136px -1px rgba(225, 228, 231, 0.5);
	box-shadow: 5px 6px 136px rgba(225, 228, 231, 0.5);
	border-color: #1290C6;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u37433
{
	z-index: 137;
	width: 652px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u37434
{
	z-index: 138;
	width: 120px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/logo1-u13540-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37435
{
	z-index: 139;
	width: 518px;
	height: 56px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 134px;
	background: #FFFFFF url("../images/logo2-u37271-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u34573
{
	z-index: 131;
	width: 93px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1154px;
}

#u34573_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u34574-4
{
	z-index: 133;
	width: 93px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	left: -1px;
	position: relative;
}

#u34575
{
	z-index: 132;
	width: 93px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	left: -1px;
	position: relative;
	background: #FFFFFF url("../images/20160220170050-u34575-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu6214
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 22px;
}

#u6214
{
	z-index: 8;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	border-width: 37px 0px 0px;
}

#u6214_position_content
{
	margin-top: -29px;
	padding-bottom: 29px;
}

#menuu20822
{
	z-index: 44;
	width: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#u20823
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u20826
{
	width: 50px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u20826:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u20826:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u20829-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u20826:hover #u20829-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20826:active #u20829-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20826:hover #u20829-6 p,#u20826:hover #u20829-6 span,#u20826:active #u20829-6 p,#u20826:active #u20829-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u20829-3
{
	font-size: 12px;
	line-height: 17px;
}

#u20844
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u20845
{
	width: 115px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u20845:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u20845:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u20845.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u20847-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u20826.MuseMenuActive #u20829-6,#u20845:hover #u20847-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20845:active #u20847-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20845:hover #u20847-6 p,#u20845:hover #u20847-6 span,#u20845:active #u20847-6 p,#u20845:active #u20847-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u20849
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u20868
{
	width: 75px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 86px 6px 2px;
}

#u20870-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u20868:hover #u20870-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20826.MuseMenuActive #u20829-6 p,#u20826.MuseMenuActive #u20829-6 span,#u20845.MuseMenuActive #u20847-6 p,#u20845.MuseMenuActive #u20847-6 span,#u20868:hover #u20870-5 p,#u20868:hover #u20870-5 span,#u20868.MuseMenuActive #u20870-5 p,#u20868.MuseMenuActive #u20870-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20894
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u20897-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u20868.MuseMenuActive #u20870-5,#u20894:hover #u20897-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20894:hover #u20897-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20880
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u20883-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u20894.MuseMenuActive #u20897-4,#u20880:hover #u20883-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20894.MuseMenuActive #u20897-4 p,#u20880:hover #u20883-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20852
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u20853-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u20880.MuseMenuActive #u20883-4,#u20852:hover #u20853-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20880.MuseMenuActive #u20883-4 p,#u20852:hover #u20853-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20873
{
	width: 67px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 94px 6px 2px;
}

#u20875-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u20852.MuseMenuActive #u20853-4,#u20873:hover #u20875-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20852.MuseMenuActive #u20853-4 p,#u20873:hover #u20875-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20861
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u20863-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u20873.MuseMenuActive #u20875-4,#u20861:hover #u20863-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20873.MuseMenuActive #u20875-4 p,#u20861:hover #u20863-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20850,#u20865,#u20893,#u20879,#u20851,#u20872,#u20858,#u20886
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u20887
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u20868:hover,#u20894:hover,#u20880:hover,#u20852:hover,#u20873:hover,#u20861:hover,#u20887:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u20889-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u20861.MuseMenuActive #u20863-4,#u20887:hover #u20889-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20887.MuseMenuActive #u20889-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20861.MuseMenuActive #u20863-4 p,#u20887:hover #u20889-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20907
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u20910
{
	width: 132px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u20910:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u20910:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u20911-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u20845.MuseMenuActive #u20847-6,#u20910:hover #u20911-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20910:active #u20911-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20910:hover #u20911-6 p,#u20910:hover #u20911-6 span,#u20910:active #u20911-6 p,#u20910:active #u20911-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u20830
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u20831
{
	width: 60px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u20831:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u20831:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u20833-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u20910.MuseMenuActive #u20911-6,#u20831:hover #u20833-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20831:active #u20833-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20831:hover #u20833-6 p,#u20831:hover #u20833-6 span,#u20831:active #u20833-6 p,#u20831:active #u20833-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u20829-2,#u20847-2,#u20911-2,#u20833-2
{
	line-height: 20px;
}

#u20837
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u20838
{
	width: 99px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u20838.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u20839-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u20831.MuseMenuActive #u20833-6,#u20838:hover #u20839-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20838:active #u20839-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20838.MuseMenuActive #u20839-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20838:hover #u20839-6 p,#u20838:hover #u20839-6 span,#u20838:active #u20839-6 p,#u20838:active #u20839-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u20887.MuseMenuActive #u20889-4 p,#u20910.MuseMenuActive #u20911-6 p,#u20910.MuseMenuActive #u20911-6 span,#u20831.MuseMenuActive #u20833-6 p,#u20831.MuseMenuActive #u20833-6 span,#u20838.MuseMenuActive #u20839-6 p,#u20838.MuseMenuActive #u20839-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20829,#u20847,#u20911,#u20833,#u20839
{
	font-size: 16px;
	line-height: 22px;
}

#u20839-2
{
	font-weight: normal;
	line-height: 20px;
}

#u20847-3,#u20911-3,#u20833-3,#u20839-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u6218
{
	z-index: 9;
	width: 1201px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 13px;
	margin-top: 8px;
	position: relative;
	padding: 15px 19px 24.243455272351127px 26px;
}

#u6245-4
{
	z-index: 140;
	width: 266px;
	min-height: 27px;
	background-color: transparent;
	font-size: 26px;
	color: #000000;
	line-height: 26px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u37526-4
{
	z-index: 235;
	width: 258px;
	background-color: transparent;
	font-size: 26px;
	color: #000000;
	line-height: 26px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 6px;
	position: relative;
}

#u37526
{
	font-size: 11px;
	line-height: 11px;
}

#pu37493-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 3px;
}

#u37493-4
{
	z-index: 150;
	width: 310px;
	min-height: 18px;
	background-color: transparent;
	font-size: 20px;
	color: #000000;
	line-height: 20px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u37493-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 14px -10000px 0px 0px;
}

#u37487-4
{
	z-index: 144;
	width: 359px;
	min-height: 27px;
	background-color: transparent;
	font-size: 26px;
	color: #7F7F7F;
	line-height: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 670px;
}

#u37487-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 0px -10000px 0px 0px;
}

#u37487-4:hover p,#u37487-4:hover h1
{
	color: #000000;
	visibility: inherit;
}

#pppu37452
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 10px;
}

#pu37452
{
	width: 0.01px;
}

#u37452
{
	z-index: 158;
	width: 94px;
	height: 73px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/dsc_1572-u37452-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37517
{
	z-index: 205;
	width: 451px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 122px;
}

#u37518-4
{
	z-index: 206;
	width: 189px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	color: #000000;
	line-height: 20px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u37519
{
	z-index: 210;
	width: 450px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 2px;
	position: relative;
}

#u37522-4
{
	z-index: 223;
	width: 50px;
	min-height: 13px;
	background-color: transparent;
	font-size: 13px;
	color: #1290C6;
	line-height: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37521-4
{
	z-index: 211;
	width: 42px;
	min-height: 13px;
	background-color: transparent;
	font-size: 13px;
	color: #1290C6;
	line-height: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u37524-4
{
	z-index: 227;
	width: 168px;
	min-height: 13px;
	background-color: transparent;
	font-weight: 300;
	position: relative;
}

#u37525-4
{
	z-index: 215;
	width: 162px;
	min-height: 13px;
	background-color: transparent;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u37520-4
{
	z-index: 231;
	width: 28px;
	min-height: 13px;
	background-color: transparent;
	font-size: 13px;
	color: #000000;
	line-height: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 164px;
}

#u37523-4
{
	z-index: 219;
	width: 204px;
	min-height: 13px;
	background-color: transparent;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 246px;
}

#u37495-4
{
	z-index: 154;
	width: 394px;
	min-height: 18px;
	background-color: transparent;
	font-size: 20px;
	color: #000000;
	line-height: 20px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 13px;
	position: relative;
}

#u37495-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px 0px 0px;
}

#pu37459
{
	width: 0.01px;
	margin-top: 10px;
}

#u37459
{
	z-index: 148;
	width: 94px;
	height: 73px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/dsc_0688-u37459-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37515
{
	z-index: 175;
	width: 462px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 122px;
}

#u37441-4
{
	z-index: 176;
	width: 180px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	color: #000000;
	line-height: 20px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u37514
{
	z-index: 180;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 2px;
	position: relative;
}

#u37510-4
{
	z-index: 193;
	width: 50px;
	min-height: 13px;
	background-color: transparent;
	font-size: 13px;
	color: #1290C6;
	line-height: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37506-4
{
	z-index: 181;
	width: 42px;
	min-height: 13px;
	background-color: transparent;
	font-size: 13px;
	color: #1290C6;
	line-height: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u37511-4
{
	z-index: 197;
	width: 168px;
	min-height: 13px;
	background-color: transparent;
	font-weight: 300;
	position: relative;
}

#u37507-4
{
	z-index: 185;
	width: 168px;
	min-height: 13px;
	background-color: transparent;
	font-weight: 300;
	margin-top: 6px;
	position: relative;
}

#u37507-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 6px 0px 0px;
}

#u37513-4
{
	z-index: 201;
	width: 28px;
	min-height: 13px;
	background-color: transparent;
	font-size: 13px;
	color: #000000;
	line-height: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 223px;
}

#u37513-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 20px -10000px 0px 0px;
}

#u37509-4
{
	z-index: 189;
	width: 204px;
	min-height: 13px;
	background-color: transparent;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 257px;
}

#u8986-24
{
	z-index: 18;
	width: 395px;
	min-height: 154px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 667px;
}

#u8986,#u8986-9,#u8986-14,#u8986-19
{
	color: #1290C6;
	font-weight: bold;
}

#u20870,#u8986-10,#u8986-15,#u8986-20
{
	font-weight: bold;
}

#u37499-4
{
	z-index: 159;
	width: 310px;
	min-height: 18px;
	background-color: transparent;
	font-size: 20px;
	color: #7F7F7F;
	line-height: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 676px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u37499-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px -5px 676px;
}

#ppu37527-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 2px;
}

#u37527-4
{
	z-index: 239;
	width: 394px;
	min-height: 18px;
	background-color: transparent;
	font-size: 20px;
	color: #000000;
	line-height: 20px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#pu37473
{
	width: 0.01px;
	margin-top: 12px;
}

#u37473
{
	z-index: 149;
	width: 94px;
	height: 73px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/dsc_0717-u37473-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37529
{
	z-index: 243;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 120px;
}

#u37530-4
{
	z-index: 244;
	width: 221px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	color: #000000;
	line-height: 20px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u37531
{
	z-index: 248;
	width: 451px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 2px;
	position: relative;
}

#ppu37452,#pu37522-4,#pu37510-4,#pu37527-4,#pu37532-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u37532-4
{
	z-index: 261;
	width: 50px;
	min-height: 13px;
	background-color: transparent;
	font-size: 13px;
	color: #1290C6;
	line-height: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37534-4
{
	z-index: 249;
	width: 42px;
	min-height: 13px;
	background-color: transparent;
	font-size: 13px;
	color: #1290C6;
	line-height: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#pu37524-4,#pu37511-4,#pu37537-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 50px;
}

#u37537-4
{
	z-index: 265;
	width: 168px;
	min-height: 13px;
	background-color: transparent;
	font-weight: 300;
	position: relative;
}

#pu37525-4,#pu37536-4
{
	width: 0.01px;
	margin-top: 6px;
}

#u37536-4
{
	z-index: 253;
	width: 157px;
	min-height: 13px;
	background-color: transparent;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u37525-4:hover,#u37536-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u37535-4
{
	z-index: 269;
	width: 28px;
	min-height: 13px;
	background-color: transparent;
	font-size: 13px;
	color: #000000;
	line-height: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 163px;
}

#u37533-4
{
	z-index: 257;
	width: 204px;
	min-height: 13px;
	background-color: transparent;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 247px;
}

#u37523-4:hover,#u37509-4:hover,#u37533-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 19px -10000px 0px 0px;
}

#u37500-4
{
	z-index: 163;
	width: 42px;
	min-height: 13px;
	background-color: transparent;
	font-size: 13px;
	color: #1290C6;
	line-height: 13px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 671px;
}

#u37500-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 15px -10000px 0px 0px;
}

#u37493-4:hover p,#u37493-4:hover h1,#u37495-4:hover p,#u37495-4:hover h1,#u37513-4:hover p,#u37513-4:hover h1,#u37499-4:hover p,#u37499-4:hover h1,#u37500-4:hover p,#u37500-4:hover h1
{
	text-decoration: none;
}

#pu37504-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 751px;
}

#u37504-4
{
	z-index: 171;
	width: 141px;
	min-height: 13px;
	background-color: transparent;
	font-weight: 300;
	position: relative;
}

#u37524-4:hover,#u37511-4:hover,#u37537-4:hover,#u37504-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u37501-4
{
	z-index: 167;
	width: 156px;
	min-height: 13px;
	background-color: transparent;
	font-weight: 300;
	margin-top: 4px;
	position: relative;
}

#u37501-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 4px 0px 0px;
}

#u37524-4:hover p,#u37524-4:hover h1,#u37525-4:hover p,#u37525-4:hover h1,#u37523-4:hover p,#u37523-4:hover h1,#u37511-4:hover p,#u37511-4:hover h1,#u37507-4:hover p,#u37507-4:hover h1,#u37509-4:hover p,#u37509-4:hover h1,#u37537-4:hover p,#u37537-4:hover h1,#u37536-4:hover p,#u37536-4:hover h1,#u37533-4:hover p,#u37533-4:hover h1,#u37504-4:hover p,#u37504-4:hover h1,#u37501-4:hover p,#u37501-4:hover h1
{
	color: #29ABE2;
	visibility: inherit;
	text-decoration: underline;
}

#u37524-2,#u37525-2,#u37523-2,#u37511-2,#u37507-2,#u37509-2,#u37537-2,#u37536-2,#u37533-2,#u37504-2,#u37501-2
{
	font-size: 13px;
	text-align: left;
	line-height: 13px;
	color: #000000;
	font-family: open-sans, sans-serif;
}

#u14638
{
	z-index: 10;
	width: 201px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 996px;
}

#u13881-6
{
	z-index: 11;
	width: 149px;
	min-height: 32px;
	background-color: transparent;
	color: #448DD5;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 52px;
}

#u13881-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	margin: 7px -10000px 0px 0px;
}

#u13881-6:hover p,#u13881-6:hover span
{
	font-weight: normal;
}

#u20829-4,#u20847-4,#u20911-4,#u20833-4,#u20839-4,#u37526-2,#u13881-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13881-3
{
	font-size: 10px;
	line-height: 12px;
}

#u14622
{
	z-index: 17;
	width: 57px;
	height: 47px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/20160216200155-u14622-fr.png") no-repeat center center;
	background-size: contain;
}

#u8990
{
	z-index: 42;
	width: 357px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-webkit-transform: matrix(0,1,-1,0,182,-175);
	-ms-transform: matrix(0,1,-1,0,182,-175);
	-o-transform: matrix(0,1,-1,0,182,-175);
	transform: matrix(0,1,-1,0,182,-175);
	position: relative;
	margin-right: -10000px;
	margin-top: 249px;
	left: 483px;
}

#u6213-4
{
	z-index: 4;
	width: 1168px;
	min-height: 25px;
	background-color: transparent;
	color: #666666;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	margin-left: 65px;
	margin-top: 10px;
	position: relative;
}

#u31093
{
	z-index: 130;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 407px;
	margin-top: 6px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

