.version.event_2014gc /* version checker */
{
	color: #0000F4;
	background-color: #2B3838;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 62px;
}

#u15588
{
	z-index: 7;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 7px;
	margin-left: 15px;
	position: relative;
}

#u15577
{
	z-index: 8;
	width: 1258px;
	border-color: #1290C6;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u37318
{
	z-index: 183;
	width: 652px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u37319
{
	z-index: 184;
	width: 120px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/logo1-u37305-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37320
{
	z-index: 185;
	width: 518px;
	height: 56px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 134px;
	background: #FFFFFF url("../images/logo2-u37306-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u34468
{
	z-index: 81;
	width: 93px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1154px;
}

#u34468_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u34469-4
{
	z-index: 83;
	width: 93px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	font-weight: bold;
	left: -1px;
	position: relative;
}

#u34470
{
	z-index: 82;
	width: 93px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	left: -1px;
	position: relative;
	background: #FFFFFF url("../images/20160220170050-u34773-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu15566
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 19px;
}

#u15566
{
	z-index: 2;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	border-width: 37px 0px 0px;
}

#u15566_position_content
{
	margin-top: -29px;
	padding-bottom: 11px;
}

#menuu18023
{
	z-index: 87;
	width: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#u18101
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u18102
{
	width: 50px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u18102:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u18102:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u18104-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u18102:hover #u18104-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18102:active #u18104-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18102:hover #u18104-6 p,#u18102:hover #u18104-6 span,#u18102:active #u18104-6 p,#u18102:active #u18104-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u18104-3
{
	font-size: 12px;
	line-height: 17px;
}

#u18031
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u18090
{
	width: 115px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u18090:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u18090:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u18090.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u18093-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u18102.MuseMenuActive #u18104-6,#u18090:hover #u18093-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18090:active #u18093-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18090:hover #u18093-6 p,#u18090:hover #u18093-6 span,#u18090:active #u18093-6 p,#u18090:active #u18093-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u18032
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u18065
{
	width: 75px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 86px 6px 2px;
}

#u18066-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u18065:hover #u18066-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u18102.MuseMenuActive #u18104-6 p,#u18102.MuseMenuActive #u18104-6 span,#u18090.MuseMenuActive #u18093-6 p,#u18090.MuseMenuActive #u18093-6 span,#u18065:hover #u18066-5 p,#u18065:hover #u18066-5 span,#u18065.MuseMenuActive #u18066-5 p,#u18065.MuseMenuActive #u18066-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u18070
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u18073-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u18065.MuseMenuActive #u18066-5,#u18070:hover #u18073-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u18070:hover #u18073-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u18042
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u18045-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u18070.MuseMenuActive #u18073-4,#u18042:hover #u18045-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u18070.MuseMenuActive #u18073-4 p,#u18042:hover #u18045-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u18058
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u18060-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u18042.MuseMenuActive #u18045-4,#u18058:hover #u18060-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u18042.MuseMenuActive #u18045-4 p,#u18058:hover #u18060-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u18049
{
	width: 67px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 94px 6px 2px;
}

#u18051-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u18058.MuseMenuActive #u18060-4,#u18049:hover #u18051-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u18058.MuseMenuActive #u18060-4 p,#u18049:hover #u18051-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u18037
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u18038-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u18049.MuseMenuActive #u18051-4,#u18037:hover #u18038-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u18049.MuseMenuActive #u18051-4 p,#u18037:hover #u18038-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u18033,#u18062,#u18069,#u18041,#u18055,#u18048,#u18034,#u18083
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u18084
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u18065:hover,#u18070:hover,#u18042:hover,#u18058:hover,#u18049:hover,#u18037:hover,#u18084:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u18086-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u18037.MuseMenuActive #u18038-4,#u18084:hover #u18086-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u18084.MuseMenuActive #u18086-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u18037.MuseMenuActive #u18038-4 p,#u18084:hover #u18086-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u18108
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u18109
{
	width: 132px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u18109:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u18109:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u18111-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u18090.MuseMenuActive #u18093-6,#u18109:hover #u18111-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18109:active #u18111-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18109:hover #u18111-6 p,#u18109:hover #u18111-6 span,#u18109:active #u18111-6 p,#u18109:active #u18111-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u18024
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u18025
{
	width: 60px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u18025:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u18025:active
{
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u18027-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u18109.MuseMenuActive #u18111-6,#u18025:hover #u18027-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18025:active #u18027-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18025:hover #u18027-6 p,#u18025:hover #u18027-6 span,#u18025:active #u18027-6 p,#u18025:active #u18027-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u18104-2,#u18093-2,#u18111-2,#u18027-2
{
	line-height: 20px;
}

#u18094
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u18097
{
	width: 99px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u18097:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u18097:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u18098-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u18025.MuseMenuActive #u18027-6,#u18097:hover #u18098-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18097:active #u18098-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18097.MuseMenuActive #u18098-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18097:hover #u18098-6 p,#u18097:hover #u18098-6 span,#u18097:active #u18098-6 p,#u18097:active #u18098-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u18084.MuseMenuActive #u18086-4 p,#u18109.MuseMenuActive #u18111-6 p,#u18109.MuseMenuActive #u18111-6 span,#u18025.MuseMenuActive #u18027-6 p,#u18025.MuseMenuActive #u18027-6 span,#u18097.MuseMenuActive #u18098-6 p,#u18097.MuseMenuActive #u18098-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u18104,#u18093,#u18111,#u18027,#u18098
{
	font-size: 16px;
	line-height: 22px;
}

#u18098-2
{
	font-weight: normal;
	line-height: 20px;
}

#u18093-3,#u18111-3,#u18027-3,#u18098-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

#u15596
{
	z-index: 9;
	width: 1260px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	margin-left: 8px;
	margin-top: 15px;
	position: relative;
}

#u36382-5
{
	z-index: 178;
	width: 434px;
	min-height: 17px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	color: #448DD5;
	position: relative;
	margin-right: -10000px;
	margin-top: 437px;
	left: 147px;
}

#u36378
{
	z-index: 45;
	width: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 910px;
}

#u30371
{
	z-index: 46;
	width: 5px;
	height: 240px;
	border-color: #000000;
	background-color: #1290C6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#pu30408
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 23px;
}

#u30408
{
	z-index: 47;
	width: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u30416-5
{
	z-index: 52;
	width: 117px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #448DD5;
	position: relative;
}

#u18066,#u36382,#u30416
{
	font-weight: bold;
}

#u30419-4
{
	z-index: 57;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 13px;
	margin-top: 12px;
	position: relative;
}

#u30419-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 12px 0px 0px 13px;
}

#u30413-4
{
	z-index: 61;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#u30413-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 9px 0px 0px 13px;
}

#pu30415
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 9px;
}

#u30415
{
	z-index: 73;
	width: 9px;
	height: 9px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: #FFFFFF url("../images/pp-u30415-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u30414-4
{
	z-index: 65;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u30414-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u30414-4:hover p
{
	text-decoration: none;
	font-weight: bold;
}

#u30417-4
{
	z-index: 69;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 13px;
	margin-top: 11px;
	position: relative;
}

#u30417-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 11px 0px 0px 13px;
}

#u30419-4:hover p,#u30413-4:hover p,#u30417-4:hover p
{
	text-decoration: underline;
}

#u30418-4
{
	z-index: 48;
	width: 182px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #448DD5;
	margin-left: 12px;
	margin-top: 10px;
	position: relative;
}

#u30734
{
	z-index: 74;
	width: 143px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u30735
{
	z-index: 75;
	width: 9px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u30736
{
	z-index: 76;
	width: 9px;
	height: 9px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/pp-u30415-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u30737-4
{
	z-index: 77;
	width: 130px;
	min-height: 17px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 13px;
}

#u30737-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u30737-4:hover p
{
	text-decoration: none;
}

#slideshowu30377
{
	z-index: 10;
	width: 0.01px;
	height: 377px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 155px;
}

#u30399
{
	position: absolute;
	width: 722px;
	height: 377px;
	background-color: transparent;
}

#u30399popup
{
	z-index: 11;
}

#u30400
{
	z-index: 12;
	width: 722px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u30400_img
{
	padding-right: 2px;
}

#u30402
{
	z-index: 14;
	width: 722px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u30402_clip
{
	overflow: hidden;
	width: 722px;
	height: 377px;
}

#u30402_img
{
	margin: -31px 29px -32px 30px;
}

#u30404
{
	z-index: 16;
	width: 722px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u30400 .clip_frame,#u30402 .clip_frame,#u30404 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u30406
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u30390
{
	position: absolute;
	width: 577px;
	background-color: transparent;
	top: 314px;
	left: 72px;
}

#u30390popup
{
	z-index: 20;
}

#u30391-4
{
	z-index: 21;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u30394-4
{
	z-index: 25;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u30393-4
{
	z-index: 29;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u30392-4
{
	z-index: 33;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u30379-4
{
	position: absolute;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #EF5B30;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 314px;
	left: 28px;
}

#u30379-4popup
{
	z-index: 37;
}

#u30396-4
{
	position: absolute;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #EF5B30;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 314px;
	left: 653px;
}

#u30379-4:hover,#u30396-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EF5B30;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	width: 20px;
	margin: -1px;
}

#u30396-4popup
{
	z-index: 41;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u36380-5
{
	z-index: 173;
	width: 328px;
	min-height: 39px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #448DD5;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 155px;
}

#u18104-4,#u18093-4,#u18111-4,#u18027-4,#u18098-4,#u36380-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u36380
{
	font-size: 31px;
	font-weight: bold;
	line-height: 37px;
}

#u36380-2
{
	line-height: 24px;
}

#u15573-4
{
	z-index: 3;
	width: 1168px;
	min-height: 25px;
	background-color: transparent;
	color: #666666;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	margin-left: 68px;
	margin-top: 8px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

