.version.event_2013gc /* version checker */
{
	color: #0000EE;
	background-color: #FB5B8E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 62px;
}

#u15498
{
	z-index: 7;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 7px;
	margin-left: 15px;
	position: relative;
}

#u15487
{
	z-index: 8;
	width: 1258px;
	border-color: #1290C6;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u37315
{
	z-index: 181;
	width: 652px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u37316
{
	z-index: 182;
	width: 120px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/logo1-u37305-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37317
{
	z-index: 183;
	width: 518px;
	height: 56px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 134px;
	background: #FFFFFF url("../images/logo2-u37306-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u34437
{
	z-index: 39;
	width: 93px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1154px;
}

#u34437_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u34438-4
{
	z-index: 41;
	width: 93px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	font-weight: bold;
	left: -1px;
	position: relative;
}

#u34439
{
	z-index: 40;
	width: 93px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	left: -1px;
	position: relative;
	background: #FFFFFF url("../images/20160220170050-u34773-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu15476
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 22px;
}

#u15476
{
	z-index: 2;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	border-width: 37px 0px 0px;
}

#u15476_position_content
{
	margin-top: -29px;
	padding-bottom: 11px;
}

#menuu17563
{
	z-index: 45;
	width: 713px;
	border-color: #448DD5;
	background-color: transparent;
	margin-left: 5px;
	position: relative;
}

#u17571
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17574
{
	width: 50px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u17574:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u17574:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u17575-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u17574:hover #u17575-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17574:active #u17575-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17574:hover #u17575-6 p,#u17574:hover #u17575-6 span,#u17574:active #u17575-6 p,#u17574:active #u17575-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17575-3
{
	font-size: 12px;
	line-height: 17px;
}

#u17592
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u17593
{
	width: 115px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u17593:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u17593:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u17593.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u17596-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u17574.MuseMenuActive #u17575-6,#u17593:hover #u17596-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17593:active #u17596-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17593:hover #u17596-6 p,#u17593:hover #u17596-6 span,#u17593:active #u17596-6 p,#u17593:active #u17596-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17597
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u17609
{
	width: 75px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 86px 6px 2px;
}

#u17611-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u17609:hover #u17611-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17574.MuseMenuActive #u17575-6 p,#u17574.MuseMenuActive #u17575-6 span,#u17593.MuseMenuActive #u17596-6 p,#u17593.MuseMenuActive #u17596-6 span,#u17609:hover #u17611-5 p,#u17609:hover #u17611-5 span,#u17609.MuseMenuActive #u17611-5 p,#u17609.MuseMenuActive #u17611-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17649
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u17652-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u17609.MuseMenuActive #u17611-5,#u17649:hover #u17652-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17649:hover #u17652-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17614
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u17616-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u17649.MuseMenuActive #u17652-4,#u17614:hover #u17616-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17649.MuseMenuActive #u17652-4 p,#u17614:hover #u17616-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17630
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u17631-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u17614.MuseMenuActive #u17616-4,#u17630:hover #u17631-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17614.MuseMenuActive #u17616-4 p,#u17630:hover #u17631-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17635
{
	width: 67px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 94px 6px 2px;
}

#u17638-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u17630.MuseMenuActive #u17631-4,#u17635:hover #u17638-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17630.MuseMenuActive #u17631-4 p,#u17635:hover #u17638-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17600
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u17603-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u17635.MuseMenuActive #u17638-4,#u17600:hover #u17603-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17635.MuseMenuActive #u17638-4 p,#u17600:hover #u17603-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17598,#u17606,#u17648,#u17613,#u17627,#u17634,#u17599,#u17641
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u17644
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u17609:hover,#u17649:hover,#u17614:hover,#u17630:hover,#u17635:hover,#u17600:hover,#u17644:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u17646-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u17600.MuseMenuActive #u17603-4,#u17644:hover #u17646-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17644.MuseMenuActive #u17646-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17600.MuseMenuActive #u17603-4 p,#u17644:hover #u17646-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17578
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u17579
{
	width: 132px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u17579:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u17579:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u17582-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u17593.MuseMenuActive #u17596-6,#u17579:hover #u17582-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17579:active #u17582-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17579:hover #u17582-6 p,#u17579:hover #u17582-6 span,#u17579:active #u17582-6 p,#u17579:active #u17582-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17585
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u17588
{
	width: 60px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u17588:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u17588:active
{
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u17590-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u17579.MuseMenuActive #u17582-6,#u17588:hover #u17590-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17588:active #u17590-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17588:hover #u17590-6 p,#u17588:hover #u17590-6 span,#u17588:active #u17590-6 p,#u17588:active #u17590-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17575-2,#u17596-2,#u17582-2,#u17590-2
{
	line-height: 20px;
}

#u17564
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u17565
{
	width: 99px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u17565:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u17565:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u17568-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u17588.MuseMenuActive #u17590-6,#u17565:hover #u17568-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17565:active #u17568-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17565.MuseMenuActive #u17568-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17565:hover #u17568-6 p,#u17565:hover #u17568-6 span,#u17565:active #u17568-6 p,#u17565:active #u17568-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17644.MuseMenuActive #u17646-4 p,#u17579.MuseMenuActive #u17582-6 p,#u17579.MuseMenuActive #u17582-6 span,#u17588.MuseMenuActive #u17590-6 p,#u17588.MuseMenuActive #u17590-6 span,#u17565.MuseMenuActive #u17568-6 p,#u17565.MuseMenuActive #u17568-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17575,#u17596,#u17582,#u17590,#u17568
{
	font-size: 16px;
	line-height: 22px;
}

#u17568-2
{
	font-weight: normal;
	line-height: 20px;
}

#u17596-3,#u17582-3,#u17590-3,#u17568-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

#u15506
{
	z-index: 9;
	width: 1260px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	margin-left: 8px;
	margin-top: 16px;
	position: relative;
}

#u36367-5
{
	z-index: 136;
	width: 269px;
	min-height: 17px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	color: #448DD5;
	position: relative;
	margin-right: -10000px;
	margin-top: 437px;
	left: 147px;
}

#u36653
{
	z-index: 141;
	width: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 910px;
}

#u30313
{
	z-index: 142;
	width: 5px;
	height: 240px;
	border-color: #000000;
	background-color: #1290C6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#pu30350
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 23px;
}

#u30350
{
	z-index: 143;
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u30358-5
{
	z-index: 148;
	width: 117px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #448DD5;
	position: relative;
}

#u17611,#u36367,#u30358
{
	font-weight: bold;
}

#u30361-4
{
	z-index: 153;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 13px;
	margin-top: 12px;
	position: relative;
}

#u30361-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 12px 0px 0px 13px;
}

#pu30357
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 9px;
}

#u30357
{
	z-index: 169;
	width: 9px;
	height: 9px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: #FFFFFF url("../images/pp-u30415-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u30355-4
{
	z-index: 157;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u30355-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u30356-4
{
	z-index: 161;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#u30356-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 9px 0px 0px 13px;
}

#u30359-4
{
	z-index: 165;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 13px;
	margin-top: 11px;
	position: relative;
}

#u30359-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 11px 0px 0px 13px;
}

#u30361-4:hover p,#u30356-4:hover p,#u30359-4:hover p
{
	text-decoration: underline;
}

#u30360-4
{
	z-index: 144;
	width: 182px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #448DD5;
	margin-left: 13px;
	margin-top: 10px;
	position: relative;
}

#u30733
{
	z-index: 170;
	width: 143px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u30352
{
	z-index: 171;
	width: 9px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u30354
{
	z-index: 172;
	width: 9px;
	height: 9px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/pp-u30415-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u30351-4
{
	z-index: 173;
	width: 130px;
	min-height: 17px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 13px;
}

#u30351-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u30355-4:hover p,#u30351-4:hover p
{
	text-decoration: none;
}

#u36652-4
{
	z-index: 177;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 14px;
	margin-top: 6px;
	position: relative;
}

#u36652-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 6px 0px 0px 14px;
}

#u36652-4:hover p
{
	text-decoration: underline;
	font-weight: normal;
}

#slideshowu30319
{
	z-index: 10;
	width: 0.01px;
	height: 377px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 155px;
}

#u30341
{
	position: absolute;
	width: 722px;
	height: 377px;
	background-color: transparent;
}

#u30341popup
{
	z-index: 11;
}

#u30342
{
	z-index: 12;
	width: 722px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u30344
{
	z-index: 14;
	width: 722px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u30346
{
	z-index: 16;
	width: 722px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u30342 .clip_frame,#u30344 .clip_frame,#u30346 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u30332
{
	position: absolute;
	width: 577px;
	background-color: transparent;
	top: 314px;
	left: 72px;
}

#u30332popup
{
	z-index: 18;
}

#u30333-4
{
	z-index: 19;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u30336-4
{
	z-index: 23;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u30335-4
{
	z-index: 27;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u30321-4
{
	position: absolute;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #EF5B30;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 314px;
	left: 28px;
}

#u30321-4popup
{
	z-index: 31;
}

#u30338-4
{
	position: absolute;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #EF5B30;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 314px;
	left: 653px;
}

#u30321-4:hover,#u30338-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EF5B30;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	width: 20px;
	margin: -1px;
}

#u30338-4popup
{
	z-index: 35;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u36366-5
{
	z-index: 131;
	width: 328px;
	min-height: 39px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #448DD5;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 155px;
}

#u17575-4,#u17596-4,#u17582-4,#u17590-4,#u17568-4,#u36366-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u36366
{
	font-size: 31px;
	font-weight: bold;
	line-height: 37px;
}

#u36366-2
{
	line-height: 24px;
}

#u15483-4
{
	z-index: 3;
	width: 1168px;
	min-height: 25px;
	background-color: transparent;
	color: #666666;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	margin-left: 68px;
	margin-top: 8px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

