.version.event_on_april_30___2012gc /* version checker */
{
	color: #00001C;
	background-color: #0C3848;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 62px;
}

#u23512
{
	z-index: 7;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 7px;
	margin-left: 15px;
	position: relative;
}

#u23513
{
	z-index: 8;
	width: 1258px;
	border-color: #1290C6;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u37312
{
	z-index: 184;
	width: 652px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u37313
{
	z-index: 185;
	width: 120px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/logo1-u37305-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37314
{
	z-index: 186;
	width: 518px;
	height: 56px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 134px;
	background: #FFFFFF url("../images/logo2-u37306-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u36484
{
	z-index: 178;
	width: 93px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1154px;
}

#u36484_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u36486-4
{
	z-index: 180;
	width: 93px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	font-weight: bold;
	left: -1px;
	position: relative;
}

#u36485
{
	z-index: 179;
	width: 93px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	left: -1px;
	position: relative;
	background: #FFFFFF url("../images/20160220170050-u34773-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu23498
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 22px;
}

#u23498
{
	z-index: 2;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	border-width: 37px 0px 0px;
}

#u23498_position_content
{
	margin-top: -30px;
	padding-bottom: 11px;
}

#menuu23537
{
	z-index: 13;
	width: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#u23622
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u23625
{
	width: 50px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u23625:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u23625:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u23627-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u23625:hover #u23627-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u23625:active #u23627-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u23625:hover #u23627-6 p,#u23625:hover #u23627-6 span,#u23625:active #u23627-6 p,#u23625:active #u23627-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u23627-3
{
	font-size: 12px;
	line-height: 17px;
}

#u23545
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u23546
{
	width: 115px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u23546:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u23546:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u23546.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u23547-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u23625.MuseMenuActive #u23627-6,#u23546:hover #u23547-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u23546:active #u23547-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u23546:hover #u23547-6 p,#u23546:hover #u23547-6 span,#u23546:active #u23547-6 p,#u23546:active #u23547-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u23550
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u23595
{
	width: 75px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 86px 6px 2px;
}

#u23598-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u23595:hover #u23598-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u23625.MuseMenuActive #u23627-6 p,#u23625.MuseMenuActive #u23627-6 span,#u23546.MuseMenuActive #u23547-6 p,#u23546.MuseMenuActive #u23547-6 span,#u23595:hover #u23598-5 p,#u23595:hover #u23598-5 span,#u23595.MuseMenuActive #u23598-5 p,#u23595.MuseMenuActive #u23598-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u23555
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u23556-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u23595.MuseMenuActive #u23598-5,#u23555:hover #u23556-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u23555:hover #u23556-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u23590
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u23593-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u23555.MuseMenuActive #u23556-4,#u23590:hover #u23593-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u23555.MuseMenuActive #u23556-4 p,#u23590:hover #u23593-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u23574
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u23577-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u23590.MuseMenuActive #u23593-4,#u23574:hover #u23577-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u23590.MuseMenuActive #u23593-4 p,#u23574:hover #u23577-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u23569
{
	width: 67px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 94px 6px 2px;
}

#u23572-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u23574.MuseMenuActive #u23577-4,#u23569:hover #u23572-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u23574.MuseMenuActive #u23577-4 p,#u23569:hover #u23572-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u23583
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u23586-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u23569.MuseMenuActive #u23572-4,#u23583:hover #u23586-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u23569.MuseMenuActive #u23572-4 p,#u23583:hover #u23586-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u23560
{
	width: 32px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 129px 6px 2px;
}

#u23560:hover
{
	border-style: none;
	border-color: #448DD5;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u23560.MuseMenuActive
{
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #448DD5;
	width: 28px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 0px 4px;
}

#u23562-4
{
	width: 28px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u23583.MuseMenuActive #u23586-4,#u23560:hover #u23562-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u23583.MuseMenuActive #u23586-4 p,#u23560:hover #u23562-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u23551,#u23594,#u23552,#u23587,#u23573,#u23566,#u23580,#u23559,#u23601
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u23602
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u23595:hover,#u23555:hover,#u23590:hover,#u23574:hover,#u23569:hover,#u23583:hover,#u23602:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u23604-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u23560.MuseMenuActive #u23562-4,#u23602:hover #u23604-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u23602.MuseMenuActive #u23604-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u23560.MuseMenuActive #u23562-4 p,#u23602:hover #u23604-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u23615
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u23618
{
	width: 132px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u23618:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u23618:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u23619-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u23546.MuseMenuActive #u23547-6,#u23618:hover #u23619-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u23618:active #u23619-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u23618:hover #u23619-6 p,#u23618:hover #u23619-6 span,#u23618:active #u23619-6 p,#u23618:active #u23619-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u23538
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u23541
{
	width: 60px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u23541:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u23541:active
{
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u23544-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u23618.MuseMenuActive #u23619-6,#u23541:hover #u23544-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u23541:active #u23544-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u23541:hover #u23544-6 p,#u23541:hover #u23544-6 span,#u23541:active #u23544-6 p,#u23541:active #u23544-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u23627-2,#u23547-2,#u23619-2,#u23544-2
{
	line-height: 20px;
}

#u23608
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u23611
{
	width: 99px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u23611:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u23611:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u23614-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u23541.MuseMenuActive #u23544-6,#u23611:hover #u23614-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u23611:active #u23614-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u23611.MuseMenuActive #u23614-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u23611:hover #u23614-6 p,#u23611:hover #u23614-6 span,#u23611:active #u23614-6 p,#u23611:active #u23614-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u23602.MuseMenuActive #u23604-4 p,#u23618.MuseMenuActive #u23619-6 p,#u23618.MuseMenuActive #u23619-6 span,#u23541.MuseMenuActive #u23544-6 p,#u23541.MuseMenuActive #u23544-6 span,#u23611.MuseMenuActive #u23614-6 p,#u23611.MuseMenuActive #u23614-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u23627,#u23547,#u23619,#u23544,#u23614
{
	font-size: 16px;
	line-height: 22px;
}

#u23614-2
{
	font-weight: normal;
	line-height: 20px;
}

#u23547-3,#u23619-3,#u23544-3,#u23614-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

#u23522
{
	z-index: 9;
	width: 980px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 8px;
	margin-top: 16px;
	position: relative;
	padding: 11px 133px 7px 147px;
}

#u30488-5
{
	z-index: 173;
	width: 328px;
	min-height: 39px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #448DD5;
	position: relative;
}

#u23627-4,#u23547-4,#u23619-4,#u23544-4,#u23614-4,#u30488-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u30488
{
	font-size: 31px;
	font-weight: bold;
	line-height: 37px;
}

#u30488-2
{
	line-height: 24px;
}

#u23536-3
{
	z-index: 10;
	width: 5px;
	min-height: 10px;
	background-color: transparent;
	margin-left: 339px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u36325
{
	z-index: 139;
	width: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 763px;
	margin-top: 45px;
	position: relative;
}

#u30487
{
	z-index: 140;
	width: 5px;
	height: 240px;
	border-color: #000000;
	background-color: #1290C6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u30524
{
	z-index: 141;
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 23px;
}

#u30532-5
{
	z-index: 146;
	width: 117px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #448DD5;
	position: relative;
}

#pu30531
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 12px;
}

#u30531
{
	z-index: 167;
	width: 9px;
	height: 9px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	background: #FFFFFF url("../images/pp-u30415-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u30535-4
{
	z-index: 151;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u30529-4
{
	z-index: 155;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#u30530-4
{
	z-index: 159;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#u30529-4:hover,#u30530-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 9px 0px 0px 13px;
}

#u30533-4
{
	z-index: 163;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 13px;
	margin-top: 11px;
	position: relative;
}

#u30533-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 11px 0px 0px 13px;
}

#u30529-4:hover p,#u30530-4:hover p,#u30533-4:hover p
{
	text-decoration: underline;
}

#u30534-4
{
	z-index: 142;
	width: 182px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #448DD5;
	margin-left: 13px;
	margin-top: 10px;
	position: relative;
}

#pu30528
{
	width: 0.01px;
	margin-top: 6px;
}

#u30528
{
	z-index: 168;
	width: 9px;
	height: 9px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	background: #FFFFFF url("../images/pp-u30415-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u30525-4
{
	z-index: 169;
	width: 130px;
	min-height: 17px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 13px;
}

#u30525-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u30525-4:hover p
{
	text-decoration: none;
}

#u36324-5
{
	z-index: 134;
	width: 269px;
	min-height: 17px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	color: #448DD5;
	margin-top: 89px;
	position: relative;
}

#u23598,#u30532,#u36324
{
	font-weight: bold;
}

#slideshowu30493
{
	z-index: 105;
	width: 0.01px;
	height: 377px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 155px;
}

#u30515
{
	position: absolute;
	width: 722px;
	height: 377px;
	background-color: transparent;
}

#u30515popup
{
	z-index: 106;
}

#u30516
{
	z-index: 107;
	width: 722px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u30518
{
	z-index: 109;
	width: 722px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u30520
{
	z-index: 111;
	width: 722px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u30516 .clip_frame,#u30518 .clip_frame,#u30520 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u30520_clip
{
	overflow: hidden;
	width: 722px;
	height: 377px;
}

#u30520_img
{
	margin-top: -16px;
	margin-bottom: -17px;
}

#u30506
{
	position: absolute;
	width: 577px;
	background-color: transparent;
	top: 314px;
	left: 72px;
}

#u30506popup
{
	z-index: 113;
}

#u30507-4
{
	z-index: 114;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u30510-4
{
	z-index: 118;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u30509-4
{
	z-index: 122;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u30495-4
{
	position: absolute;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #EF5B30;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 314px;
	left: 28px;
}

#u30495-4popup
{
	z-index: 126;
}

#u30512-4
{
	position: absolute;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #EF5B30;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 314px;
	left: 653px;
}

#u30495-4:hover,#u30512-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EF5B30;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	width: 20px;
	margin: -1px;
}

#u30512-4popup
{
	z-index: 130;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u23499-4
{
	z-index: 3;
	width: 1168px;
	min-height: 25px;
	background-color: transparent;
	color: #666666;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	margin-left: 68px;
	margin-top: 8px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

