.version.event_on_december_10___2013gc /* version checker */
{
	color: #00000E;
	background-color: #EF1B27;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 62px;
}

#pu14090
{
	width: 0.01px;
	margin-left: 15px;
}

#u14090
{
	z-index: 7;
	width: 1273px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14110
{
	z-index: 8;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u14111
{
	z-index: 9;
	width: 1258px;
	height: 87px;
	border-color: #1290C6;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#u34365
{
	z-index: 83;
	width: 340px;
	height: 85px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
	background: #FFFFFF url("../images/logo.jpg") no-repeat center center;
	background-size: contain;
}

#u34375
{
	z-index: 84;
	width: 94px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 1161px;
}

#u34375_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u34376-4
{
	z-index: 86;
	width: 93px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	position: relative;
}

#u34377
{
	z-index: 85;
	width: 93px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	left: -1px;
	position: relative;
	background: #FFFFFF url("../images/20160220170050-u34575-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12746
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 22px;
}

#u12746
{
	z-index: 2;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	border-width: 37px 0px 0px;
}

#u12746_position_content
{
	margin-top: -29px;
	padding-bottom: 10px;
}

#menuu17931
{
	z-index: 90;
	width: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#u18009
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u18010
{
	width: 50px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u18010:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u18010:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u18012-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u18010:hover #u18012-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18010:active #u18012-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18010:hover #u18012-6 p,#u18010:hover #u18012-6 span,#u18010:active #u18012-6 p,#u18010:active #u18012-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u18012-3
{
	font-size: 12px;
	line-height: 17px;
}

#u17939
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u17998
{
	width: 115px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u17998:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u17998:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u17998.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u18001-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u18010.MuseMenuActive #u18012-6,#u17998:hover #u18001-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17998:active #u18001-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17998:hover #u18001-6 p,#u17998:hover #u18001-6 span,#u17998:active #u18001-6 p,#u17998:active #u18001-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17940
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u17973
{
	width: 75px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 86px 6px 2px;
}

#u17974-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17973:hover #u17974-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u18010.MuseMenuActive #u18012-6 p,#u18010.MuseMenuActive #u18012-6 span,#u17998.MuseMenuActive #u18001-6 p,#u17998.MuseMenuActive #u18001-6 span,#u17973:hover #u17974-5 p,#u17973:hover #u17974-5 span,#u17973.MuseMenuActive #u17974-5 p,#u17973.MuseMenuActive #u17974-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17978
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u17981-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17973.MuseMenuActive #u17974-5,#u17978:hover #u17981-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17978:hover #u17981-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17950
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u17953-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17978.MuseMenuActive #u17981-4,#u17950:hover #u17953-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17978.MuseMenuActive #u17981-4 p,#u17950:hover #u17953-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17966
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u17968-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17950.MuseMenuActive #u17953-4,#u17966:hover #u17968-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17950.MuseMenuActive #u17953-4 p,#u17966:hover #u17968-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17957
{
	width: 67px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 94px 6px 2px;
}

#u17959-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17966.MuseMenuActive #u17968-4,#u17957:hover #u17959-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17966.MuseMenuActive #u17968-4 p,#u17957:hover #u17959-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17945
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u17946-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17957.MuseMenuActive #u17959-4,#u17945:hover #u17946-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17957.MuseMenuActive #u17959-4 p,#u17945:hover #u17946-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17941,#u17970,#u17977,#u17949,#u17963,#u17956,#u17942,#u17991
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u17992
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u17973:hover,#u17978:hover,#u17950:hover,#u17966:hover,#u17957:hover,#u17945:hover,#u17992:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u17994-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17945.MuseMenuActive #u17946-4,#u17992:hover #u17994-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17992.MuseMenuActive #u17994-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17945.MuseMenuActive #u17946-4 p,#u17992:hover #u17994-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u18016
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u18017
{
	width: 132px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u18017:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u18017:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u18019-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u17998.MuseMenuActive #u18001-6,#u18017:hover #u18019-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18017:active #u18019-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18017:hover #u18019-6 p,#u18017:hover #u18019-6 span,#u18017:active #u18019-6 p,#u18017:active #u18019-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17932
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u17933
{
	width: 60px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u17933:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u17933:active
{
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u17935-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u18017.MuseMenuActive #u18019-6,#u17933:hover #u17935-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17933:active #u17935-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17933:hover #u17935-6 p,#u17933:hover #u17935-6 span,#u17933:active #u17935-6 p,#u17933:active #u17935-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u18012-2,#u18001-2,#u18019-2,#u17935-2
{
	line-height: 20px;
}

#u18002
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u18005
{
	width: 99px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u18005:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u18005:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u18006-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u17933.MuseMenuActive #u17935-6,#u18005:hover #u18006-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18005:active #u18006-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18005.MuseMenuActive #u18006-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u18005:hover #u18006-6 p,#u18005:hover #u18006-6 span,#u18005:active #u18006-6 p,#u18005:active #u18006-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17992.MuseMenuActive #u17994-4 p,#u18017.MuseMenuActive #u18019-6 p,#u18017.MuseMenuActive #u18019-6 span,#u17933.MuseMenuActive #u17935-6 p,#u17933.MuseMenuActive #u17935-6 span,#u18005.MuseMenuActive #u18006-6 p,#u18005.MuseMenuActive #u18006-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u18012,#u18001,#u18019,#u17935,#u18006
{
	font-size: 16px;
	line-height: 22px;
}

#u18006-2
{
	font-weight: normal;
	line-height: 20px;
}

#u18001-3,#u18019-3,#u17935-3,#u18006-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

#u12776
{
	z-index: 10;
	width: 1260px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	margin-left: 6px;
	margin-top: 16px;
	position: relative;
}

#u36353-5
{
	z-index: 181;
	width: 269px;
	min-height: 17px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	color: #448DD5;
	position: relative;
	margin-right: -10000px;
	margin-top: 436px;
	left: 149px;
}

#u15822-3
{
	z-index: 11;
	width: 5px;
	min-height: 10px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 488px;
}

#pu36351
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 107px;
	margin-left: 912px;
}

#u36351
{
	z-index: 44;
	width: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15471
{
	z-index: 45;
	width: 5px;
	height: 240px;
	border-color: #000000;
	background-color: #1290C6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u24581
{
	z-index: 46;
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 23px;
}

#u15353-5
{
	z-index: 51;
	width: 117px;
	min-height: 26px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #448DD5;
	position: relative;
}

#u17974,#u36353,#u15353
{
	font-weight: bold;
}

#u15354-4
{
	z-index: 56;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 13px;
	margin-top: 12px;
	position: relative;
}

#u15354-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 12px 0px 0px 13px;
}

#pu15417
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 9px;
}

#u15417
{
	z-index: 72;
	width: 9px;
	height: 9px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: #FFFFFF url("../images/pp-u30415-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u15355-4
{
	z-index: 60;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #448DD5;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u15355-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u15355-4:hover p
{
	text-decoration: none;
	font-weight: bold;
}

#u15356-4
{
	z-index: 64;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#u15356-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 9px 0px 0px 13px;
}

#u15357-4
{
	z-index: 68;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #448DD5;
	font-weight: normal;
	margin-left: 13px;
	margin-top: 11px;
	position: relative;
}

#u15357-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 11px 0px 0px 13px;
}

#u15347-4
{
	z-index: 47;
	width: 182px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #448DD5;
	margin-left: 13px;
	margin-top: 10px;
	position: relative;
}

#u23486-4
{
	z-index: 79;
	width: 130px;
	min-height: 17px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #448DD5;
	margin-left: 13px;
	margin-top: 6px;
	position: relative;
}

#u23486-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 6px 0px 0px 13px;
}

#u15354-4:hover p,#u15356-4:hover p,#u15357-4:hover p,#u23486-4:hover p
{
	text-decoration: underline;
}

#u23487
{
	z-index: 73;
	width: 166px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u15424
{
	z-index: 78;
	width: 9px;
	height: 9px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	background: #FFFFFF url("../images/pp-u30415-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u15348-4
{
	z-index: 74;
	width: 153px;
	min-height: 16px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #448DD5;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 13px;
}

#u31132
{
	z-index: 43;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 28px;
	margin-top: 6px;
	position: relative;
}

#slideshowu18207
{
	z-index: 14;
	width: 0.01px;
	height: 377px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 155px;
}

#u18217
{
	position: absolute;
	width: 722px;
	height: 377px;
	background-color: transparent;
}

#u18217popup
{
	z-index: 15;
}

#u18220
{
	z-index: 16;
	width: 722px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u18220_img
{
	padding-right: 1px;
}

#u18218
{
	z-index: 18;
	width: 722px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u18222
{
	z-index: 20;
	width: 722px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
}

#u18220 .clip_frame,#u18218 .clip_frame,#u18222 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u18208
{
	position: absolute;
	width: 577px;
	background-color: transparent;
	top: 314px;
	left: 72px;
}

#u18208popup
{
	z-index: 22;
}

#u18209-4
{
	z-index: 23;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 18px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u18211-4
{
	z-index: 27;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 18px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u18212-4
{
	z-index: 31;
	width: 557px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #999999;
	line-height: 18px;
	font-size: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u18215-4
{
	position: absolute;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #EF5B30;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 314px;
	left: 28px;
}

#u18215-4popup
{
	z-index: 35;
}

#u18237-4
{
	position: absolute;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #EF5B30;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	top: 314px;
	left: 653px;
}

#u18215-4:hover,#u18237-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EF5B30;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	width: 20px;
	margin: -1px;
}

#u18237-4popup
{
	z-index: 39;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u36352-5
{
	z-index: 176;
	width: 328px;
	min-height: 39px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #448DD5;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 155px;
}

#u18012-4,#u18001-4,#u18019-4,#u17935-4,#u18006-4,#u36352-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u36352
{
	font-size: 31px;
	font-weight: bold;
	line-height: 37px;
}

#u36352-2
{
	line-height: 24px;
}

#u12778-4
{
	z-index: 3;
	width: 1168px;
	min-height: 25px;
	background-color: transparent;
	color: #666666;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	margin-left: 68px;
	margin-top: 8px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

