.version.hp_200_g1_microtower_business_pc /* version checker */
{
	color: #0000F0;
	background-color: #A84791;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 62px;
}

#u10163
{
	z-index: 101;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 7px;
	margin-left: 14px;
	position: relative;
}

#u10167
{
	z-index: 102;
	width: 1253px;
	border-color: #1290C6;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u37415
{
	z-index: 266;
	width: 652px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u37416
{
	z-index: 267;
	width: 120px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/logo1-u37434-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37417
{
	z-index: 268;
	width: 518px;
	height: 56px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 134px;
	background: #FFFFFF url("../images/logo2-u37435-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u34100
{
	z-index: 250;
	width: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 114px;
}

#u34101
{
	z-index: 251;
	width: 500px;
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 93px;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 114px;
}

#u34102
{
	z-index: 252;
	width: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 21px;
	left: 50%;
	margin-left: 114px;
}

#u34104
{
	z-index: 263;
	width: 85px;
	height: 94px;
	border-color: #000000;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/20160223035837-u35811-fr.png") no-repeat center center;
	background-size: cover;
}

#u34103-10
{
	z-index: 253;
	width: 403px;
	min-height: 62px;
	background-color: transparent;
	color: #1290C6;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 91px;
}

#u34103-2
{
	font-size: 15px;
	line-height: 18px;
}

#u34103-5
{
	font-size: 10px;
	line-height: 12px;
}

#u34103-8
{
	font-size: 9px;
	line-height: 11px;
}

#pu34107
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 72px;
	margin-left: 93px;
}

#u34107
{
	z-index: 264;
	width: 315px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u34105
{
	z-index: 265;
	width: 70px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 338px;
}

#pu8096
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 26px;
}

#u8096
{
	z-index: 6;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	border-width: 37px 0px 0px;
}

#u8096_position_content
{
	margin-top: -29px;
	padding-bottom: 18px;
}

#menuu26878
{
	z-index: 103;
	width: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#u26963
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u26966
{
	width: 50px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u26966:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u26966:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u26968-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u26966:hover #u26968-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u26966:active #u26968-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u26966:hover #u26968-6 p,#u26966:hover #u26968-6 span,#u26966:active #u26968-6 p,#u26966:active #u26968-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u26968-3
{
	font-size: 12px;
	line-height: 17px;
}

#u26886
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u26945
{
	width: 115px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u26945:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u26945:active
{
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u26945.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u26947-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u26966.MuseMenuActive #u26968-6,#u26945:hover #u26947-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u26945:active #u26947-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u26945:hover #u26947-6 p,#u26945:hover #u26947-6 span,#u26945:active #u26947-6 p,#u26945:active #u26947-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u26887
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u26925
{
	width: 75px;
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #448DD5;
	position: relative;
	margin-right: -10000px;
	padding: 2px 82px 6px 2px;
	border-width: 0px 0px 0px 4px;
}

#u26925:hover
{
	background-color: #448DD5;
	width: 75px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26928-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u26925:hover #u26928-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u26966.MuseMenuActive #u26968-6 p,#u26966.MuseMenuActive #u26968-6 span,#u26945.MuseMenuActive #u26947-6 p,#u26945.MuseMenuActive #u26947-6 span,#u26925:hover #u26928-5 p,#u26925:hover #u26928-5 span,#u26925.MuseMenuActive #u26928-5 p,#u26925.MuseMenuActive #u26928-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u26897
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u26899-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u26925.MuseMenuActive #u26928-5,#u26897:hover #u26899-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u26897:hover #u26899-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u26934
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u26937-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u26897.MuseMenuActive #u26899-4,#u26934:hover #u26937-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u26897.MuseMenuActive #u26899-4 p,#u26934:hover #u26937-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u26913
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u26915-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u26934.MuseMenuActive #u26937-4,#u26913:hover #u26915-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u26934.MuseMenuActive #u26937-4 p,#u26913:hover #u26915-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u26941
{
	width: 67px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 94px 6px 2px;
}

#u26943-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u26913.MuseMenuActive #u26915-4,#u26941:hover #u26943-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u26913.MuseMenuActive #u26915-4 p,#u26941:hover #u26943-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u26918
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u26919-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u26941.MuseMenuActive #u26943-4,#u26918:hover #u26919-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u26941.MuseMenuActive #u26943-4 p,#u26918:hover #u26919-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u26888,#u26924,#u26896,#u26931,#u26910,#u26938,#u26917,#u26889
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u26892
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u26897:hover,#u26934:hover,#u26913:hover,#u26941:hover,#u26918:hover,#u26892:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u26895-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u26918.MuseMenuActive #u26919-4,#u26892:hover #u26895-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u26892.MuseMenuActive #u26895-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u26918.MuseMenuActive #u26919-4 p,#u26892:hover #u26895-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u26949
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u26952
{
	width: 132px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u26952:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u26952:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u26954-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u26945.MuseMenuActive #u26947-6,#u26952:hover #u26954-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u26952:active #u26954-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u26952:hover #u26954-6 p,#u26952:hover #u26954-6 span,#u26952:active #u26954-6 p,#u26952:active #u26954-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u26956
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u26959
{
	width: 60px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u26959:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u26959:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u26961-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u26952.MuseMenuActive #u26954-6,#u26959:hover #u26961-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u26959:active #u26961-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u26959:hover #u26961-6 p,#u26959:hover #u26961-6 span,#u26959:active #u26961-6 p,#u26959:active #u26961-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u26968-2,#u26947-2,#u26954-2,#u26961-2
{
	line-height: 20px;
}

#u26879
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u26880
{
	width: 99px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u26880:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u26880:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u26882-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u26959.MuseMenuActive #u26961-6,#u26880:hover #u26882-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u26880:active #u26882-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u26880.MuseMenuActive #u26882-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u26880:hover #u26882-6 p,#u26880:hover #u26882-6 span,#u26880:active #u26882-6 p,#u26880:active #u26882-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u26892.MuseMenuActive #u26895-4 p,#u26952.MuseMenuActive #u26954-6 p,#u26952.MuseMenuActive #u26954-6 span,#u26959.MuseMenuActive #u26961-6 p,#u26959.MuseMenuActive #u26961-6 span,#u26880.MuseMenuActive #u26882-6 p,#u26880.MuseMenuActive #u26882-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u26882-2
{
	font-weight: normal;
	line-height: 20px;
}

#u26947-3,#u26954-3,#u26961-3,#u26882-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

#u8119
{
	z-index: 7;
	width: 1204px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 13px;
	margin-top: 17px;
	position: relative;
	padding: 15px 22px 19px 20px;
}

#pu8108-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u8108-5
{
	z-index: 8;
	width: 296px;
	min-height: 43px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
}

#u26968-4,#u26947-4,#u26954-4,#u26961-4,#u26882-4,#u8108-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8108
{
	line-height: 43px;
}

#u8108-2
{
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
}

#u8105-5
{
	z-index: 13;
	width: 205px;
	min-height: 36px;
	background-color: transparent;
	font-size: 23px;
	line-height: 28px;
	color: #1290C6;
	font-weight: normal;
	margin-top: 24px;
	position: relative;
}

#u34103-3,#u34103-6,#u26928,#u8105
{
	font-weight: bold;
}

#u29510
{
	z-index: 189;
	width: 790px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 407px;
}

#u29511-5
{
	z-index: 212;
	width: 159px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
	border-width: 1px 1px 4px;
}

#u29511-5:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 159px;
	margin: 0px -10000px -4px 0px;
	border-width: 1px 1px 4px;
}

#u29514-5
{
	z-index: 207;
	width: 159px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 167px;
	border-width: 1px 1px 4px;
}

#u29514-5:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 159px;
	margin: -1px -10000px -3px 0px;
	border-width: 1px 1px 4px;
}

#u29512-5
{
	z-index: 197;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 334px;
	border-width: 1px 1px 4px;
}

#u29515-5
{
	z-index: 202;
	width: 167px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 479px;
	border-width: 1px 1px 4px;
}

#u29515-5:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 167px;
	margin: -1px -10000px -3px 0px;
	border-width: 1px 1px 4px;
}

#u29513-7
{
	z-index: 190;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 653px;
	border-width: 1px 1px 4px;
}

#u29512-5:hover,#u29513-7:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 136px;
	margin: -1px -10000px -3px 0px;
	border-width: 1px 1px 4px;
}

#u29513
{
	font-weight: normal;
}

#u29513-3
{
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u29513-5
{
	font-weight: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u26968,#u26947,#u26954,#u26961,#u26882,#u29513-2,#u29513-4
{
	font-size: 16px;
	line-height: 22px;
}

#u8118-4
{
	z-index: 18;
	width: 229px;
	min-height: 15px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	font-weight: normal;
	font-style: italic;
	position: relative;
}

#ppu8104
{
	width: 0.01px;
	margin-top: -7px;
}

#pu8104
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 49px;
}

#u8104
{
	z-index: 22;
	width: 218px;
	height: 166px;
	border-color: #000000;
	margin-left: 4px;
	position: relative;
	background: #FFFFFF url("../images/hp%20200%20g1%20microtower%20business%20pc-u8104-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u8107-4
{
	z-index: 27;
	width: 283px;
	min-height: 25px;
	background-color: transparent;
	color: #1290C6;
	font-weight: bold;
	margin-top: 12px;
	position: relative;
}

#u8110-4
{
	z-index: 23;
	width: 283px;
	min-height: 86px;
	background-color: transparent;
	color: #000000;
	font-size: 13px;
	line-height: 16px;
	text-align: justify;
	margin-top: 2px;
	position: relative;
}

#u30089
{
	z-index: 31;
	width: 472px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 305px;
}

#ppu8108-5,#pu8113
{
	width: 0.01px;
}

#u8113
{
	z-index: 57;
	width: 54px;
	height: 40px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	background: #FFFFFF url("../images/hp_logo-u8028-fr.png") no-repeat center center;
	background-size: contain;
}

#u8116
{
	z-index: 56;
	width: 298px;
	height: 58px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 62px;
	background: #FFFFFF url("../images/hp%20200%20g1%20microtower%20business%20pc%20letter-u8116-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u8117-9
{
	z-index: 58;
	width: 472px;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#u8114-24
{
	z-index: 32;
	width: 472px;
	background-color: transparent;
	margin-top: 32px;
	position: relative;
}

#u8117-2,#u8117-3,#u8114-2
{
	color: #1290C6;
	font-weight: bold;
}

#u8114-3
{
	font-size: 12px;
	line-height: 14px;
	color: #1290C6;
	font-weight: bold;
}

#pu8126-20
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 75px;
	margin-left: 804px;
}

#u8126-20
{
	z-index: 67;
	width: 393px;
	background-color: transparent;
	position: relative;
}

#u30805
{
	z-index: 244;
	width: 153px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 247px;
	margin-top: 103px;
	position: relative;
}

#u30806
{
	z-index: 249;
	width: 30px;
	height: 26px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/20160221184006-u30925-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u30807-4
{
	z-index: 245;
	width: 120px;
	min-height: 20px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	color: #448DD5;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 33px;
}

#u30807-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 2px -10000px 0px 0px;
}

#u30807-4:hover p
{
	text-decoration: underline;
}

#u8127-14
{
	z-index: 87;
	width: 393px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 377px;
	left: 837px;
}

#u8126-2,#u8126-3,#u8127-2,#u8127-3
{
	font-size: 13px;
	line-height: 16px;
	color: #1290C6;
	font-weight: bold;
}

#u8117-5,#u8117-7,#u8114-5,#u8114-7,#u8114-9,#u8114-11,#u8114-13,#u8114-15,#u8114-17,#u8114-19,#u8114-21,#u8126-5,#u8126-7,#u8126-9,#u8126-11,#u8126-13,#u8126-15,#u8126-17,#u8127-5,#u8127-7,#u8127-9,#u8127-11
{
	font-size: 12px;
	line-height: 14px;
}

#u8114-22,#u8126-18,#u8127-12
{
	font-size: 13px;
	line-height: 16px;
}

#pamphletu30044
{
	z-index: 217;
	width: 0.01px;
	height: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 703px;
}

#u30045
{
	z-index: 218;
	width: 64px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 231px;
}

#u30047
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u30047:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30046
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 19px;
}

#u30046:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30049
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 37px;
}

#u30049:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30048
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 55px;
}

#u30048:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30047.PamphletThumbSelected,#u30046.PamphletThumbSelected,#u30049.PamphletThumbSelected,#u30048.PamphletThumbSelected
{
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30050
{
	position: absolute;
	width: 549px;
	background-color: transparent;
}

#u30050popup
{
	z-index: 223;
}

#u30051
{
	z-index: 224;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30052-4
{
	z-index: 225;
	width: 549px;
	min-height: 26px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u30055
{
	z-index: 229;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30056-4
{
	z-index: 230;
	width: 549px;
	min-height: 28px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u30053
{
	z-index: 234;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30054-4
{
	z-index: 235;
	width: 549px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u30057
{
	z-index: 239;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30058-4
{
	z-index: 240;
	width: 549px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u8111-4
{
	z-index: 2;
	width: 1168px;
	min-height: 25px;
	background-color: transparent;
	color: #666666;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	margin-left: 66px;
	margin-top: 6px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

