.version.hp_blade_system /* version checker */
{
	color: #000006;
	background-color: #9154BF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 62px;
}

#u10035
{
	z-index: 59;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 7px;
	margin-left: 14px;
	position: relative;
}

#u10056
{
	z-index: 60;
	width: 1253px;
	border-color: #1290C6;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u37394
{
	z-index: 231;
	width: 652px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u37395
{
	z-index: 232;
	width: 120px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/logo1-u37434-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37396
{
	z-index: 233;
	width: 518px;
	height: 56px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 134px;
	background: #FFFFFF url("../images/logo2-u37435-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u33825
{
	z-index: 215;
	width: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 114px;
}

#u33831
{
	z-index: 216;
	width: 500px;
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 93px;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 114px;
}

#u33828
{
	z-index: 217;
	width: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 21px;
	left: 50%;
	margin-left: 114px;
}

#u33830
{
	z-index: 228;
	width: 85px;
	height: 94px;
	border-color: #000000;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/20160223035837-u35811-fr.png") no-repeat center center;
	background-size: cover;
}

#u33829-10
{
	z-index: 218;
	width: 403px;
	min-height: 62px;
	background-color: transparent;
	color: #1290C6;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 91px;
}

#u33829-2
{
	font-size: 15px;
	line-height: 18px;
}

#u33829-5
{
	font-size: 10px;
	line-height: 12px;
}

#u33829-8
{
	font-size: 9px;
	line-height: 11px;
}

#pu33826
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 72px;
	margin-left: 93px;
}

#u33826
{
	z-index: 229;
	width: 315px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u33832
{
	z-index: 230;
	width: 70px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 338px;
}

#pu7938
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 23px;
}

#u7938
{
	z-index: 6;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	border-width: 37px 0px 0px;
}

#u7938_position_content
{
	margin-top: -29px;
	padding-bottom: 17px;
}

#menuu27896
{
	z-index: 61;
	width: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#u27897
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u27898
{
	width: 50px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u27898:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u27898:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u27900-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u27898:hover #u27900-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u27898:active #u27900-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u27898:hover #u27900-6 p,#u27898:hover #u27900-6 span,#u27898:active #u27900-6 p,#u27898:active #u27900-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u27900-3
{
	font-size: 12px;
	line-height: 17px;
}

#u27904
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u27905
{
	width: 115px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u27905:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u27905:active
{
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u27905.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u27906-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u27898.MuseMenuActive #u27900-6,#u27905:hover #u27906-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u27905:active #u27906-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u27905:hover #u27906-6 p,#u27905:hover #u27906-6 span,#u27905:active #u27906-6 p,#u27905:active #u27906-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u27909
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u27954
{
	width: 75px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 86px 6px 2px;
}

#u27955-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u27954:hover #u27955-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u27898.MuseMenuActive #u27900-6 p,#u27898.MuseMenuActive #u27900-6 span,#u27905.MuseMenuActive #u27906-6 p,#u27905.MuseMenuActive #u27906-6 span,#u27954:hover #u27955-5 p,#u27954:hover #u27955-5 span,#u27954.MuseMenuActive #u27955-5 p,#u27954.MuseMenuActive #u27955-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u27933
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u27934-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u27954.MuseMenuActive #u27955-5,#u27933:hover #u27934-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u27933:hover #u27934-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u27919
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u27920-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u27933.MuseMenuActive #u27934-4,#u27919:hover #u27920-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u27933.MuseMenuActive #u27934-4 p,#u27919:hover #u27920-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u27947
{
	width: 65px;
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #448DD5;
	position: relative;
	margin-right: -10000px;
	padding: 2px 92px 6px 2px;
	border-width: 0px 0px 0px 4px;
}

#u27947:hover
{
	background-color: #448DD5;
	width: 65px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u27948-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u27919.MuseMenuActive #u27920-4,#u27947:hover #u27948-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u27919.MuseMenuActive #u27920-4 p,#u27947:hover #u27948-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u27940
{
	width: 67px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 94px 6px 2px;
}

#u27942-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u27947.MuseMenuActive #u27948-4,#u27940:hover #u27942-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u27947.MuseMenuActive #u27948-4 p,#u27940:hover #u27942-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u27928
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u27929-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u27940.MuseMenuActive #u27942-4,#u27928:hover #u27929-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u27940.MuseMenuActive #u27942-4 p,#u27928:hover #u27929-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u27910,#u27953,#u27932,#u27918,#u27946,#u27939,#u27925,#u27960
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u27963
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u27954:hover,#u27933:hover,#u27919:hover,#u27940:hover,#u27928:hover,#u27963:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u27964-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u27928.MuseMenuActive #u27929-4,#u27963:hover #u27964-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u27963.MuseMenuActive #u27964-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u27928.MuseMenuActive #u27929-4 p,#u27963:hover #u27964-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u27967
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u27968
{
	width: 132px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u27968:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u27968:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u27971-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u27905.MuseMenuActive #u27906-6,#u27968:hover #u27971-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u27968:active #u27971-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u27968:hover #u27971-6 p,#u27968:hover #u27971-6 span,#u27968:active #u27971-6 p,#u27968:active #u27971-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u27981
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u27982
{
	width: 60px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u27982:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u27982:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u27985-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u27968.MuseMenuActive #u27971-6,#u27982:hover #u27985-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u27982:active #u27985-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u27982:hover #u27985-6 p,#u27982:hover #u27985-6 span,#u27982:active #u27985-6 p,#u27982:active #u27985-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u27974
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u27975
{
	width: 99px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u27975:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u27975:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u27976-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u27982.MuseMenuActive #u27985-6,#u27975:hover #u27976-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u27975:active #u27976-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u27975.MuseMenuActive #u27976-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u27975:hover #u27976-6 p,#u27975:hover #u27976-6 span,#u27975:active #u27976-6 p,#u27975:active #u27976-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u27963.MuseMenuActive #u27964-4 p,#u27968.MuseMenuActive #u27971-6 p,#u27968.MuseMenuActive #u27971-6 span,#u27982.MuseMenuActive #u27985-6 p,#u27982.MuseMenuActive #u27985-6 span,#u27975.MuseMenuActive #u27976-6 p,#u27975.MuseMenuActive #u27976-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u27906-3,#u27971-3,#u27985-3,#u27976-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

#u7930
{
	z-index: 7;
	width: 1203px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 13px;
	margin-top: 17px;
	position: relative;
	padding: 9px 23px 86.34999999999968px 20px;
}

#pu7933-5
{
	width: 0.01px;
}

#u7933-5
{
	z-index: 8;
	width: 296px;
	min-height: 43px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u7933
{
	line-height: 43px;
}

#u7933-2
{
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
}

#u29568
{
	z-index: 147;
	width: 714px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: 487px;
}

#u29570-7
{
	z-index: 167;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	border-width: 1px 1px 4px;
}

#u29572-5
{
	z-index: 148;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 144px;
	border-width: 1px 1px 4px;
}

#u27900-2,#u27906-2,#u27971-2,#u27985-2,#u29572
{
	line-height: 20px;
}

#u29573-7
{
	z-index: 153;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 288px;
	border-width: 1px 1px 4px;
}

#u29570-7:hover,#u29572-5:hover,#u29573-7:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 136px;
	margin: -1px -10000px -4px 0px;
	border-width: 1px 1px 4px;
}

#u29573-7.MuseLinkActive
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 76px;
	width: 136px;
	margin: -1px -10000px -2px 0px;
	border-width: 1px 1px 0px;
}

#u29573
{
	line-height: 20px;
	font-weight: bold;
}

#u29569-7
{
	z-index: 160;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 433px;
	border-width: 1px 1px 4px;
}

#u27976-2,#u29570,#u29569
{
	font-weight: normal;
	line-height: 20px;
}

#u29570-3,#u29573-3,#u29569-3
{
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}

#u29570-5,#u29573-5,#u29569-5
{
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

#u29571-7
{
	z-index: 174;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 578px;
	border-width: 1px 1px 4px;
}

#u29569-7:hover,#u29571-7:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 136px;
	margin: -1px -10000px -4px 0px;
	border-width: 1px 1px 4px;
}

#u29571
{
	font-weight: normal;
}

#u29571-3
{
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u29571-5
{
	font-weight: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u27900,#u27906,#u27971,#u27985,#u27976,#u29572-3,#u29571-2,#u29571-4
{
	font-size: 16px;
	line-height: 22px;
}

#u7934-5
{
	z-index: 13;
	width: 205px;
	min-height: 36px;
	background-color: transparent;
	font-size: 23px;
	line-height: 28px;
	color: #1290C6;
	font-weight: normal;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u33829-3,#u33829-6,#u27955,#u7934
{
	font-weight: bold;
}

#ppu7937-4
{
	width: 0.01px;
	margin-top: -7px;
}

#pu7937-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u7937-4
{
	z-index: 18;
	width: 135px;
	min-height: 15px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	font-weight: normal;
	font-style: italic;
	position: relative;
}

#u7931
{
	z-index: 22;
	width: 328px;
	height: 218px;
	border-color: #000000;
	margin-left: 2px;
	margin-top: 22px;
	position: relative;
	background: #FFFFFF url("../images/20151021072439-u7931-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u7941-32
{
	z-index: 27;
	width: 802px;
	min-height: 279px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 388px;
}

#u7941-5,#u7941-6,#u7941-8
{
	font-size: 11px;
	text-align: justify;
	line-height: 13px;
	color: #000000;
}

#u7941-9
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	color: #1290C6;
}

#u7941-2,#u7941-3,#u7941-11
{
	font-size: 16px;
	line-height: 19px;
	color: #1290C6;
	font-weight: bold;
}

#u7941-12,#u7941-14,#u7941-17,#u7941-19,#u7941-21,#u7941-23,#u7941-25,#u7941-27,#u7941-29
{
	font-size: 11px;
	line-height: 13px;
	color: #000000;
}

#u7940-4
{
	z-index: 23;
	width: 330px;
	min-height: 21px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	color: #1290C6;
	font-weight: bold;
	margin-top: 4px;
	position: relative;
}

#pamphletu29874
{
	z-index: 181;
	width: 0.01px;
	height: 84px;
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 513px;
}

#u29884
{
	z-index: 182;
	width: 65px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 286px;
}

#u29885
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u29885:hover
{
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u29885.PamphletThumbSelected
{
	background-color: #29ABE2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u29886
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 19px;
}

#u29886:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u29887
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 37px;
}

#u29887:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u29892
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 56px;
}

#u29892:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u29886.PamphletThumbSelected,#u29887.PamphletThumbSelected,#u29892.PamphletThumbSelected
{
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u29875
{
	position: absolute;
	width: 640px;
	background-color: transparent;
}

#u29875popup
{
	z-index: 187;
}

#u29876
{
	z-index: 188;
	width: 640px;
	height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u29877-4
{
	z-index: 189;
	width: 579px;
	min-height: 37px;
	background-color: transparent;
	font-size: 25px;
	color: #29ABE2;
	line-height: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 25px;
}

#u29878
{
	z-index: 193;
	width: 640px;
	height: 72px;
	border-color: #448DD5;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u29879-4
{
	z-index: 194;
	width: 340px;
	min-height: 34px;
	background-color: transparent;
	font-size: 25px;
	color: #29ABE2;
	line-height: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 150px;
}

#u29880
{
	z-index: 198;
	width: 640px;
	height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u29881-4
{
	z-index: 199;
	width: 450px;
	min-height: 35px;
	background-color: transparent;
	font-size: 25px;
	color: #29ABE2;
	line-height: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 95px;
}

#u29893
{
	z-index: 203;
	width: 640px;
	height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u29895-4
{
	z-index: 204;
	width: 640px;
	min-height: 33px;
	background-color: transparent;
	font-size: 25px;
	color: #29ABE2;
	line-height: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u30962
{
	z-index: 208;
	width: 81px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 350px;
	left: 1139px;
}

#u30955
{
	z-index: 214;
	width: 81px;
	height: 55px;
	border-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	background: #FFFFFF url("../images/20160312101129-u30955-fr.png") no-repeat center center;
	background-size: cover;
}

#u10124-5
{
	z-index: 209;
	width: 75px;
	min-height: 25px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #1290C6;
	margin-left: 3px;
	position: relative;
}

#u10124-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px 0px 0px 3px;
}

#u10124-5:hover p,#u10124-5:hover span
{
	text-decoration: underline;
}

#u27900-4,#u27906-4,#u27971-4,#u27985-4,#u27976-4,#u7933-3,#u10124-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u10124
{
	line-height: 22px;
}

#u10124-2
{
	font-size: 12px;
	line-height: 14px;
}

#u7939-4
{
	z-index: 2;
	width: 1168px;
	min-height: 25px;
	background-color: transparent;
	color: #666666;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	margin-left: 66px;
	margin-top: 9px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

