.version.hp_large_format_printers /* version checker */
{
	color: #0000F2;
	background-color: #6CD27D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 62px;
}

#pu9953
{
	width: 0.01px;
	margin-left: 14px;
}

#u9953
{
	z-index: 160;
	width: 1273px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9885
{
	z-index: 161;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u9884
{
	z-index: 162;
	width: 1253px;
	height: 88px;
	border-color: #1290C6;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u37376
{
	z-index: 304;
	width: 652px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 18px;
}

#u37377
{
	z-index: 305;
	width: 120px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/logo1-u37434-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37378
{
	z-index: 306;
	width: 518px;
	height: 56px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 134px;
	background: #FFFFFF url("../images/logo2-u37435-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u33669
{
	z-index: 288;
	width: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 114px;
}

#u33674
{
	z-index: 289;
	width: 500px;
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 93px;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 114px;
}

#u33675
{
	z-index: 290;
	width: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 21px;
	left: 50%;
	margin-left: 113px;
}

#u33677
{
	z-index: 301;
	width: 85px;
	height: 94px;
	border-color: #000000;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/20160223035837-u35811-fr.png") no-repeat center center;
	background-size: cover;
}

#u33676-10
{
	z-index: 291;
	width: 403px;
	min-height: 62px;
	background-color: transparent;
	color: #1290C6;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 91px;
}

#u33676-2
{
	font-size: 15px;
	line-height: 18px;
}

#u33676-5
{
	font-size: 10px;
	line-height: 12px;
}

#u33676-8
{
	font-size: 9px;
	line-height: 11px;
}

#pu33672
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 72px;
	margin-left: 93px;
}

#u33672
{
	z-index: 302;
	width: 315px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u33670
{
	z-index: 303;
	width: 70px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 338px;
}

#pu6069
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 22px;
}

#u6069
{
	z-index: 6;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	border-width: 37px 0px 0px;
}

#u6069_position_content
{
	margin-top: -29px;
	padding-bottom: 21px;
}

#menuu28604
{
	z-index: 175;
	width: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#u28605
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u28608
{
	width: 50px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u28608:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u28608:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u28609-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u28608:hover #u28609-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28608:active #u28609-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28608:hover #u28609-6 p,#u28608:hover #u28609-6 span,#u28608:active #u28609-6 p,#u28608:active #u28609-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u28609-3
{
	font-size: 12px;
	line-height: 17px;
}

#u28633
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u28634
{
	width: 115px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u28634:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u28634:active
{
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u28634.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u28637-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u28608.MuseMenuActive #u28609-6,#u28634:hover #u28637-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28634:active #u28637-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28634:hover #u28637-6 p,#u28634:hover #u28637-6 span,#u28634:active #u28637-6 p,#u28634:active #u28637-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u28638
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u28683
{
	width: 75px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 86px 6px 2px;
}

#u28684-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u28683:hover #u28684-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28608.MuseMenuActive #u28609-6 p,#u28608.MuseMenuActive #u28609-6 span,#u28634.MuseMenuActive #u28637-6 p,#u28634.MuseMenuActive #u28637-6 span,#u28683:hover #u28684-5 p,#u28683:hover #u28684-5 span,#u28683.MuseMenuActive #u28684-5 p,#u28683.MuseMenuActive #u28684-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28641
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u28644-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u28683.MuseMenuActive #u28684-5,#u28641:hover #u28644-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28641:hover #u28644-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28655
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u28658-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u28641.MuseMenuActive #u28644-4,#u28655:hover #u28658-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28641.MuseMenuActive #u28644-4 p,#u28655:hover #u28658-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28662
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u28665-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u28655.MuseMenuActive #u28658-4,#u28662:hover #u28665-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28655.MuseMenuActive #u28658-4 p,#u28662:hover #u28665-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28650
{
	width: 67px;
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #448DD5;
	position: relative;
	margin-right: -10000px;
	padding: 2px 90px 6px 2px;
	border-width: 0px 0px 0px 4px;
}

#u28650:hover
{
	background-color: #448DD5;
	width: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u28653-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u28662.MuseMenuActive #u28665-4,#u28650:hover #u28653-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28662.MuseMenuActive #u28665-4 p,#u28650:hover #u28653-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28690
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u28692-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u28650.MuseMenuActive #u28653-4,#u28690:hover #u28692-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28650.MuseMenuActive #u28653-4 p,#u28690:hover #u28692-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28639,#u28682,#u28640,#u28654,#u28661,#u28647,#u28689,#u28675
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u28678
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u28683:hover,#u28641:hover,#u28655:hover,#u28662:hover,#u28690:hover,#u28678:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u28680-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u28690.MuseMenuActive #u28692-4,#u28678:hover #u28680-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28678.MuseMenuActive #u28680-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28690.MuseMenuActive #u28692-4 p,#u28678:hover #u28680-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28612
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u28615
{
	width: 132px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u28615:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u28615:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u28616-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u28634.MuseMenuActive #u28637-6,#u28615:hover #u28616-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28615:active #u28616-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28615:hover #u28616-6 p,#u28615:hover #u28616-6 span,#u28615:active #u28616-6 p,#u28615:active #u28616-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u28626
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u28627
{
	width: 60px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u28627:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u28627:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u28629-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u28615.MuseMenuActive #u28616-6,#u28627:hover #u28629-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28627:active #u28629-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28627:hover #u28629-6 p,#u28627:hover #u28629-6 span,#u28627:active #u28629-6 p,#u28627:active #u28629-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u28609-2,#u28637-2,#u28616-2,#u28629-2
{
	line-height: 20px;
}

#u28619
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u28620
{
	width: 99px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u28620:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u28620:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u28622-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u28627.MuseMenuActive #u28629-6,#u28620:hover #u28622-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28620:active #u28622-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28620.MuseMenuActive #u28622-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28620:hover #u28622-6 p,#u28620:hover #u28622-6 span,#u28620:active #u28622-6 p,#u28620:active #u28622-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u28678.MuseMenuActive #u28680-4 p,#u28615.MuseMenuActive #u28616-6 p,#u28615.MuseMenuActive #u28616-6 span,#u28627.MuseMenuActive #u28629-6 p,#u28627.MuseMenuActive #u28629-6 span,#u28620.MuseMenuActive #u28622-6 p,#u28620.MuseMenuActive #u28622-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28637-3,#u28616-3,#u28629-3,#u28622-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

#u6076
{
	z-index: 7;
	width: 1181px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 13px;
	margin-top: 17px;
	position: relative;
	padding: 16px 39px 45px 26px;
}

#pu6080
{
	width: 0.01px;
	margin-left: 68px;
}

#u6080
{
	z-index: 22;
	width: 145px;
	height: 91px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	background: #FFFFFF url("../images/702.jpg") no-repeat center center;
	background-size: contain;
}

#pu6081-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 159px;
}

#u6081-4
{
	z-index: 23;
	width: 157px;
	min-height: 22px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	color: #1290C6;
	font-weight: bold;
	margin-left: 10px;
	position: relative;
}

#u6079-4
{
	z-index: 27;
	width: 167px;
	min-height: 45px;
	background-color: transparent;
	color: #1290C6;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	margin-top: 5px;
	position: relative;
}

#u6135
{
	z-index: 40;
	width: 341px;
	border-width: 3px;
	border-style: solid;
	border-color: #1290C6;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 8px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 361px;
}

#u6138
{
	z-index: 41;
	width: 145px;
	height: 97px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 8px;
	background: #FFFFFF url("../images/701.jpg") no-repeat center center;
	background-size: contain;
}

#pu6139-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 13px;
	margin-left: 165px;
}

#u6139-4
{
	z-index: 42;
	width: 118px;
	min-height: 22px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	color: #1290C6;
	font-weight: bold;
	margin-left: 25px;
	position: relative;
}

#u6137-4
{
	z-index: 46;
	width: 167px;
	min-height: 45px;
	background-color: transparent;
	color: #1290C6;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	margin-top: 4px;
	position: relative;
}

#u6087
{
	z-index: 31;
	width: 145px;
	height: 91px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 742px;
	background: #FFFFFF url("../images/700.jpg") no-repeat center center;
	background-size: contain;
}

#pu6084-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 901px;
}

#u6084-4
{
	z-index: 32;
	width: 142px;
	min-height: 22px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	color: #1290C6;
	font-weight: bold;
	margin-left: 14px;
	position: relative;
}

#u6086-4
{
	z-index: 36;
	width: 167px;
	min-height: 45px;
	background-color: transparent;
	color: #1290C6;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	margin-top: 5px;
	position: relative;
}

#u6075-5
{
	z-index: 8;
	width: 296px;
	min-height: 43px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	margin-top: 24px;
	position: relative;
}

#u28609-4,#u28637-4,#u28616-4,#u28629-4,#u28622-4,#u6075-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6075
{
	line-height: 43px;
}

#u6075-2
{
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
}

#pu6070-5
{
	width: 0.01px;
	margin-top: -3px;
}

#u6070-5
{
	z-index: 13;
	width: 205px;
	min-height: 36px;
	background-color: transparent;
	font-size: 23px;
	line-height: 28px;
	color: #1290C6;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u33676-3,#u33676-6,#u28684,#u6070
{
	font-weight: bold;
}

#u6097-7
{
	z-index: 50;
	width: 807px;
	min-height: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#u6097-2
{
	font-size: 16px;
	line-height: 19px;
	color: #1290C6;
	font-weight: bold;
}

#u6097-3
{
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	font-weight: bold;
}

#u6097-5
{
	font-size: 11px;
	line-height: 13px;
	color: #000000;
}

#u6068-4
{
	z-index: 18;
	width: 135px;
	min-height: 15px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	font-weight: normal;
	font-style: italic;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#ppu7924-7
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: -1px;
}

#pu7924-7
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 25px;
}

#u7924-7
{
	z-index: 153;
	width: 137px;
	min-height: 76px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	border-width: 0px 0px 3px;
}

#u7924-7:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 75px;
	width: 136px;
	margin: 0px -1px 0px 0px;
	border-width: 1px 1px 4px;
}

#u7926-7
{
	z-index: 118;
	width: 137px;
	min-height: 76px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u7926-7:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 75px;
	width: 136px;
	margin: 4px -1px 0px 0px;
	border-width: 1px 1px 4px;
}

#u7927-7
{
	z-index: 125;
	width: 137px;
	min-height: 76px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u7927-7:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 75px;
	width: 136px;
	margin: 3px -1px 0px 0px;
	border-width: 1px 1px 4px;
}

#pu7922-7
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 25px -10000px -2px 142px;
}

#u7922-7
{
	z-index: 132;
	width: 150px;
	min-height: 76px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u7922-7:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 75px;
	width: 149px;
	margin: 0px -1px 0px 1px;
	border-width: 1px 1px 4px;
}

#u7923-7
{
	z-index: 139;
	width: 150px;
	min-height: 76px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u7923-7:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 75px;
	width: 149px;
	margin: 4px -1px 0px 0px;
	border-width: 1px 1px 4px;
}

#u28622-2,#u7924,#u7926,#u7927,#u7922,#u7923
{
	font-weight: normal;
	line-height: 20px;
}

#u7924-3,#u7926-3,#u7927-3,#u7922-3,#u7923-3
{
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}

#u7926-5,#u7927-5,#u7922-5,#u7923-5
{
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

#u7925-7
{
	z-index: 146;
	width: 150px;
	min-height: 76px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u7925-7:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 75px;
	width: 149px;
	margin: 3px -1px 0px 0px;
	border-width: 1px 1px 4px;
}

#u7925
{
	font-weight: normal;
}

#u7925-3
{
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7924-5,#u7925-5
{
	font-weight: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u28609,#u28637,#u28616,#u28629,#u28622,#u7924-4,#u7925-2,#u7925-4
{
	font-size: 16px;
	line-height: 22px;
}

#u6112
{
	z-index: 57;
	width: 232px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 339px;
}

#u6105
{
	z-index: 79;
	width: 190px;
	height: 101px;
	border-color: #000000;
	margin-left: 22px;
	position: relative;
	background: #FFFFFF url("../images/t120-u6105-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u6096-21
{
	z-index: 58;
	width: 232px;
	min-height: 163px;
	background-color: transparent;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u6113
{
	z-index: 80;
	width: 262px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 616px;
}

#u6114
{
	z-index: 102;
	width: 190px;
	height: 101px;
	border-color: #000000;
	margin-left: 34px;
	position: relative;
	background: #FFFFFF url("../images/t520-u6114-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u6115-21
{
	z-index: 81;
	width: 262px;
	min-height: 163px;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u6116
{
	z-index: 103;
	width: 232px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 918px;
}

#u6117
{
	z-index: 117;
	width: 190px;
	height: 101px;
	border-color: #000000;
	margin-left: 22px;
	position: relative;
	background: #FFFFFF url("../images/t790-u6117-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u6118-13
{
	z-index: 104;
	width: 232px;
	min-height: 163px;
	background-color: transparent;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u6096-3,#u6115-3,#u6118-3
{
	text-align: center;
	color: #1290C6;
	font-weight: bold;
}

#u6096-5,#u6096-7,#u6115-5,#u6115-6,#u6118-5
{
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	color: #1290C6;
}

#u6096-8,#u6118-6
{
	font-size: 10px;
	line-height: 12px;
	color: #1290C6;
}

#u6096-10,#u6096-12,#u6096-14,#u6096-16,#u6096-18,#u6115-8,#u6115-10,#u6115-12,#u6115-14,#u6115-16,#u6115-18,#u6118-8,#u6118-10
{
	font-size: 10px;
	line-height: 12px;
	color: #000000;
}

#u11640-4
{
	z-index: 167;
	width: 73px;
	min-height: 14px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	margin-left: 824px;
	position: relative;
}

#u11640-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px 0px 0px 824px;
}

#u11639-4
{
	z-index: 163;
	width: 73px;
	min-height: 14px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	position: relative;
	margin-right: -10000px;
	margin-top: 554px;
	left: 552px;
}

#u11639-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 554px -10000px 0px 0px;
}

#u11641-4
{
	z-index: 171;
	width: 73px;
	min-height: 14px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	position: relative;
	margin-right: -10000px;
	margin-top: 523px;
	left: 1140px;
}

#u11641-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 523px -10000px 0px 0px;
}

#u11640-4:hover p,#u11639-4:hover p,#u11641-4:hover p
{
	text-decoration: underline;
}

#pamphletu30196
{
	z-index: 261;
	width: 0.01px;
	height: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 671px;
}

#u30197
{
	z-index: 262;
	width: 64px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 231px;
}

#u30199
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u30199:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30198
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 19px;
}

#u30198:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30201
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 37px;
}

#u30201:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30200
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 55px;
}

#u30200:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30199.PamphletThumbSelected,#u30198.PamphletThumbSelected,#u30201.PamphletThumbSelected,#u30200.PamphletThumbSelected
{
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30202
{
	position: absolute;
	width: 549px;
	background-color: transparent;
}

#u30202popup
{
	z-index: 267;
}

#u30203
{
	z-index: 268;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30204-4
{
	z-index: 269;
	width: 549px;
	min-height: 26px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u30207
{
	z-index: 273;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30208-4
{
	z-index: 274;
	width: 549px;
	min-height: 28px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u30205
{
	z-index: 278;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30206-4
{
	z-index: 279;
	width: 549px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u30209
{
	z-index: 283;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30210-4
{
	z-index: 284;
	width: 549px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u6073-4
{
	z-index: 2;
	width: 1168px;
	min-height: 25px;
	background-color: transparent;
	color: #666666;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	margin-left: 66px;
	margin-top: 8px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

