.version.hp_officejet_pro_x451dn_color_inkjet_printer /* version checker */
{
	color: #00000E;
	background-color: #C24A49;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 62px;
}

#u9810
{
	z-index: 107;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 7px;
	margin-left: 14px;
	position: relative;
}

#u9809
{
	z-index: 108;
	width: 1253px;
	border-color: #1290C6;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u33374
{
	z-index: 189;
	width: 340px;
	height: 85px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/logo.jpg") no-repeat center center;
	background-size: contain;
}

#u33445
{
	z-index: 206;
	width: 93px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 628px;
}

#u33445_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u33447-4
{
	z-index: 208;
	width: 93px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	left: -1px;
	position: relative;
}

#u33446
{
	z-index: 207;
	width: 93px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	left: -1px;
	position: relative;
	background: #FFFFFF url("../images/20160220170050-u34575-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u33436
{
	z-index: 190;
	width: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 114px;
}

#u33444
{
	z-index: 191;
	width: 500px;
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 93px;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 114px;
}

#u33437
{
	z-index: 192;
	width: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 21px;
	left: 50%;
	margin-left: 114px;
}

#u33439
{
	z-index: 203;
	width: 85px;
	height: 94px;
	border-color: #000000;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/20160223035837-u35811-fr.png") no-repeat center center;
	background-size: cover;
}

#u33438-10
{
	z-index: 193;
	width: 403px;
	min-height: 62px;
	background-color: transparent;
	color: #1290C6;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 91px;
}

#u33438-2
{
	font-size: 15px;
	line-height: 18px;
}

#u33438-8
{
	font-size: 9px;
	line-height: 11px;
}

#pu33440
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 72px;
	margin-left: 93px;
}

#u33440
{
	z-index: 204;
	width: 315px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u33442
{
	z-index: 205;
	width: 70px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 338px;
}

#pu5884
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 23px;
}

#u5884
{
	z-index: 6;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	border-width: 37px 0px 0px;
}

#u5884_position_content
{
	margin-top: -29px;
	padding-bottom: 15px;
}

#menuu28328
{
	z-index: 212;
	width: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#u28329
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u28332
{
	width: 50px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u28332:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u28332:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u28333-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u28332:hover #u28333-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28332:active #u28333-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28332:hover #u28333-6 p,#u28332:hover #u28333-6 span,#u28332:active #u28333-6 p,#u28332:active #u28333-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u28333-3
{
	font-size: 12px;
	line-height: 17px;
}

#u28357
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u28358
{
	width: 115px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u28358:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u28358:active
{
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u28358.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u28361-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u28332.MuseMenuActive #u28333-6,#u28358:hover #u28361-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28358:active #u28361-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28358:hover #u28361-6 p,#u28358:hover #u28361-6 span,#u28358:active #u28361-6 p,#u28358:active #u28361-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u28362
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u28407
{
	width: 75px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 86px 6px 2px;
}

#u28408-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u28407:hover #u28408-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28332.MuseMenuActive #u28333-6 p,#u28332.MuseMenuActive #u28333-6 span,#u28358.MuseMenuActive #u28361-6 p,#u28358.MuseMenuActive #u28361-6 span,#u28407:hover #u28408-5 p,#u28407:hover #u28408-5 span,#u28407.MuseMenuActive #u28408-5 p,#u28407.MuseMenuActive #u28408-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28365
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u28368-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u28407.MuseMenuActive #u28408-5,#u28365:hover #u28368-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28365:hover #u28368-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28379
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u28382-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u28365.MuseMenuActive #u28368-4,#u28379:hover #u28382-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28365.MuseMenuActive #u28368-4 p,#u28379:hover #u28382-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28386
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u28389-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u28379.MuseMenuActive #u28382-4,#u28386:hover #u28389-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28379.MuseMenuActive #u28382-4 p,#u28386:hover #u28389-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28374
{
	width: 67px;
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #448DD5;
	position: relative;
	margin-right: -10000px;
	padding: 2px 90px 6px 2px;
	border-width: 0px 0px 0px 4px;
}

#u28374:hover
{
	background-color: #448DD5;
	width: 67px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u28377-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u28386.MuseMenuActive #u28389-4,#u28374:hover #u28377-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28386.MuseMenuActive #u28389-4 p,#u28374:hover #u28377-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28414
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u28416-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u28374.MuseMenuActive #u28377-4,#u28414:hover #u28416-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28374.MuseMenuActive #u28377-4 p,#u28414:hover #u28416-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28363,#u28406,#u28364,#u28378,#u28385,#u28371,#u28413,#u28399
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u28402
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u28407:hover,#u28365:hover,#u28379:hover,#u28386:hover,#u28414:hover,#u28402:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u28404-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u28414.MuseMenuActive #u28416-4,#u28402:hover #u28404-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28402.MuseMenuActive #u28404-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u28414.MuseMenuActive #u28416-4 p,#u28402:hover #u28404-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28336
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u28339
{
	width: 132px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u28339:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u28339:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u28340-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u28358.MuseMenuActive #u28361-6,#u28339:hover #u28340-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28339:active #u28340-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28339:hover #u28340-6 p,#u28339:hover #u28340-6 span,#u28339:active #u28340-6 p,#u28339:active #u28340-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u28350
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u28351
{
	width: 60px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u28351:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u28351:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u28353-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u28339.MuseMenuActive #u28340-6,#u28351:hover #u28353-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28351:active #u28353-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28351:hover #u28353-6 p,#u28351:hover #u28353-6 span,#u28351:active #u28353-6 p,#u28351:active #u28353-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u28333-2,#u28361-2,#u28340-2,#u28353-2
{
	line-height: 20px;
}

#u28343
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u28344
{
	width: 99px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u28344:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u28344:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u28346-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u28351.MuseMenuActive #u28353-6,#u28344:hover #u28346-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28344:active #u28346-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28344.MuseMenuActive #u28346-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u28344:hover #u28346-6 p,#u28344:hover #u28346-6 span,#u28344:active #u28346-6 p,#u28344:active #u28346-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u28402.MuseMenuActive #u28404-4 p,#u28339.MuseMenuActive #u28340-6 p,#u28339.MuseMenuActive #u28340-6 span,#u28351.MuseMenuActive #u28353-6 p,#u28351.MuseMenuActive #u28353-6 span,#u28344.MuseMenuActive #u28346-6 p,#u28344.MuseMenuActive #u28346-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u28361-3,#u28340-3,#u28353-3,#u28346-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

#u5886
{
	z-index: 7;
	width: 1207px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 13px;
	margin-top: 17px;
	position: relative;
	padding: 9px 19px 22px 20px;
}

#pu5879-5
{
	width: 0.01px;
}

#u5879-5
{
	z-index: 8;
	width: 296px;
	min-height: 43px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	color: #1290C6;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u28333-4,#u28361-4,#u28340-4,#u28353-4,#u28346-4,#u5879-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5879
{
	line-height: 43px;
}

#u5879-2
{
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
}

#u29589
{
	z-index: 109;
	width: 872px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u29591-7
{
	z-index: 145;
	width: 149px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	border-width: 1px 1px 4px;
}

#u29591-7:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 149px;
	margin: -1px -10000px -4px 0px;
	border-width: 1px 1px 4px;
}

#u29590-7
{
	z-index: 110;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 157px;
	border-width: 1px 1px 4px;
}

#u29595-7
{
	z-index: 117;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 302px;
	border-width: 1px 1px 4px;
}

#u29593-7
{
	z-index: 124;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 446px;
	border-width: 1px 1px 4px;
}

#u29592-7
{
	z-index: 131;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 591px;
	border-width: 1px 1px 4px;
}

#u28346-2,#u29591,#u29590,#u29595,#u29593,#u29592
{
	font-weight: normal;
	line-height: 20px;
}

#u29591-3,#u29590-3,#u29595-3,#u29593-3,#u29592-3
{
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}

#u29590-5,#u29595-5,#u29593-5,#u29592-5
{
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

#u29594-7
{
	z-index: 138;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 736px;
	border-width: 1px 1px 4px;
}

#u29590-7:hover,#u29595-7:hover,#u29593-7:hover,#u29592-7:hover,#u29594-7:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 136px;
	margin: -1px -10000px -4px 0px;
	border-width: 1px 1px 4px;
}

#u29594-3
{
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u29591-5,#u29594-5
{
	font-weight: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u28333,#u28361,#u28340,#u28353,#u28346,#u29591-4,#u29594-2,#u29594-4
{
	font-size: 16px;
	line-height: 22px;
}

#pu5881-7
{
	width: 0.01px;
	margin-top: -4px;
}

#u5881-7
{
	z-index: 13;
	width: 205px;
	min-height: 36px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #1290C6;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u29594,#u5881-2
{
	font-weight: normal;
}

#u33438-3,#u33438-6,#u28408,#u5881,#u5881-3
{
	font-weight: bold;
}

#u35698
{
	z-index: 304;
	width: 3px;
	height: 36px;
	border-color: #000000;
	background-color: #1290C6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 903px;
}

#u35697-6
{
	z-index: 298;
	width: 288px;
	min-height: 34px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	text-align: justify;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 919px;
	border-width: 0px 0px 4px;
}

#u35697-2
{
	font-size: 13px;
	line-height: 16px;
}

#ppu5882
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 6px;
}

#u5882
{
	z-index: 20;
	width: 255px;
	height: 210px;
	border-color: #000000;
	margin-left: 32px;
	position: relative;
	background: transparent url("../images/hp_cn459a_officejet_pro_x451dn_network_983400-u5882-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u5955-4
{
	z-index: 91;
	width: 342px;
	min-height: 32px;
	background-color: transparent;
	font-size: 14px;
	color: #1290C6;
	font-weight: bold;
	margin-top: 14px;
	position: relative;
}

#u5953-31
{
	z-index: 21;
	width: 823px;
	min-height: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 365px;
}

#u5953-2
{
	font-size: 16px;
	line-height: 19px;
	color: #1290C6;
	font-weight: bold;
}

#u5953-6
{
	font-size: 12px;
	line-height: 14px;
	color: #1290C6;
}

#u5953-8,#u5953-10,#u5953-12,#u5953-14,#u5953-16,#u5953-18,#u5953-20,#u5953-22,#u5953-24,#u5953-26,#u5953-28
{
	font-size: 11px;
	line-height: 13px;
	color: #000000;
}

#pu29660
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 14px;
}

#u29660
{
	z-index: 52;
	width: 847px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu5882,#pu5887
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u5887
{
	z-index: 53;
	width: 71px;
	height: 53px;
	border-color: #000000;
	margin-left: 52px;
	position: relative;
	background: #FFFFFF url("../images/801.jpg") no-repeat left top;
}

#u5892-7
{
	z-index: 54;
	width: 163px;
	min-height: 60px;
	background-color: transparent;
	text-align: center;
	margin-top: 9px;
	position: relative;
}

#pu5921
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 169px;
}

#u5921
{
	z-index: 61;
	width: 71px;
	height: 53px;
	border-color: #000000;
	margin-left: 52px;
	position: relative;
	background: #FFFFFF url("../images/802.jpg") no-repeat left top;
}

#u5920-7
{
	z-index: 62;
	width: 163px;
	min-height: 60px;
	background-color: transparent;
	text-align: center;
	margin-top: 9px;
	position: relative;
}

#u5953-3,#u5953-5,#u5892-2,#u5920-2
{
	color: #1290C6;
	font-weight: bold;
}

#u5892-5,#u5920-5
{
	font-size: 10px;
	line-height: 12px;
	color: #1290C6;
}

#pu5924
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 340px;
}

#u5924
{
	z-index: 69;
	width: 71px;
	height: 53px;
	border-color: #000000;
	margin-left: 52px;
	position: relative;
	background: #FFFFFF url("../images/2-u5924-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u5923-7
{
	z-index: 70;
	width: 163px;
	min-height: 60px;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#pu5927
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 512px;
}

#u5927
{
	z-index: 77;
	width: 71px;
	height: 53px;
	border-color: #000000;
	margin-left: 52px;
	position: relative;
	background: #FFFFFF url("../images/803.jpg") no-repeat center center;
}

#u5926-7
{
	z-index: 78;
	width: 163px;
	min-height: 60px;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u5923-2,#u5926-2
{
	text-align: center;
	color: #1290C6;
	font-weight: bold;
}

#u5923-5,#u5926-5
{
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	color: #1290C6;
}

#pu5930
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 684px;
}

#u5930
{
	z-index: 85;
	width: 98px;
	height: 81px;
	border-color: #000000;
	margin-left: 32px;
	position: relative;
	background: #FFFFFF url("../images/804.jpg") no-repeat center center;
	background-size: contain;
}

#u5929-5
{
	z-index: 86;
	width: 163px;
	min-height: 45px;
	background-color: transparent;
	font-size: 10px;
	line-height: 12px;
	position: relative;
}

#u5929-3
{
	text-align: center;
	color: #1290C6;
}

#pu5971-12
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 872px;
}

#u5971-12
{
	z-index: 95;
	width: 320px;
	min-height: 97px;
	background-color: transparent;
	position: relative;
}

#u5971-3
{
	font-size: 18px;
	color: #1290C6;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5971
{
	font-size: 20px;
	line-height: 24px;
}

#u5971-2
{
	line-height: 22px;
}

#u5971-5
{
	color: #000000;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5971-10 > #u5971-5:before
{
	font-size: 10px;
	line-height: 1.2;
}

#u33438-5,#u5892-3,#u5920-3,#u5923-3,#u5926-3,#u5971-4
{
	font-size: 10px;
	line-height: 12px;
}

#u5971-7,#u5971-9
{
	font-size: 10px;
	line-height: 12px;
	color: #000000;
}

#u30936
{
	z-index: 183;
	width: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 153px;
	margin-top: 7px;
	position: relative;
}

#u30937
{
	z-index: 188;
	width: 30px;
	height: 26px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/20160221184006-u21380-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u30938-4
{
	z-index: 184;
	width: 147px;
	min-height: 20px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	color: #448DD5;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 33px;
}

#u30938-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 2px -10000px 0px 0px;
}

#u30938-4:hover p
{
	text-decoration: underline;
}

#pamphletu30133
{
	z-index: 152;
	width: 0.01px;
	height: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 302px;
}

#u30134
{
	z-index: 153;
	width: 64px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 231px;
}

#u30136
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u30136:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30135
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 19px;
}

#u30135:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30138
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 37px;
}

#u30138:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30137
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 55px;
}

#u30137:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30136.PamphletThumbSelected,#u30135.PamphletThumbSelected,#u30138.PamphletThumbSelected,#u30137.PamphletThumbSelected
{
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30139
{
	position: absolute;
	width: 549px;
	background-color: transparent;
}

#u30139popup
{
	z-index: 158;
}

#u30140
{
	z-index: 159;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30141-4
{
	z-index: 160;
	width: 549px;
	min-height: 26px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u30144
{
	z-index: 164;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30145-4
{
	z-index: 165;
	width: 549px;
	min-height: 28px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u30142
{
	z-index: 169;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30143-4
{
	z-index: 170;
	width: 549px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u30146
{
	z-index: 174;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30147-4
{
	z-index: 175;
	width: 549px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u5880-4
{
	z-index: 179;
	width: 230px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #1290C6;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 33px;
}

#u5878-4
{
	z-index: 2;
	width: 1168px;
	min-height: 25px;
	background-color: transparent;
	color: #666666;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	margin-left: 66px;
	margin-top: 8px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

