.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

.Headline,.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u6245-4,#u37526-4,#u37487-4
{
	font-family: open-sans-n3, sans-serif;
}

#u37522-4,#u37521-4,#u37524-2,#u37525-2,#u37520-4,#u37523-2,#u37510-4,#u37506-4,#u37511-2,#u37507-2,#u37513-4
{
	font-family: open-sans-n3, sans-serif;
}

#u37509-2,#u37499-4
{
	font-family: open-sans-n3, sans-serif;
}

#u37532-4,#u37534-4,#u37537-2,#u37536-2,#u37535-4,#u37533-2,#u37500-4
{
	font-family: open-sans-n3, sans-serif;
}

#u37504-2,#u37501-2
{
	font-family: open-sans-n3, sans-serif;
}

