.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

.Headline,.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u13941-4,#u36714-11
{
	font-family: open-sans-n3, sans-serif;
}

