.version.index /* version checker */
{
	color: #0000E7;
	background-color: #813D2B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -30px;
	padding-bottom: 62px;
}

#pu13544-4
{
	width: 0.01px;
	margin-left: 13px;
}

#u13544-4
{
	z-index: 3;
	width: 76px;
	min-height: 31px;
	background-color: transparent;
	color: #1290C6;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 831px;
}

#u13538
{
	z-index: 7;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u13539
{
	z-index: 8;
	width: 1253px;
	border-color: #1290C6;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u37303
{
	z-index: 440;
	width: 652px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 10px;
}

#u13540
{
	z-index: 441;
	width: 120px;
	height: 85px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/logo1-u13540-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37271
{
	z-index: 442;
	width: 518px;
	height: 58px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 134px;
	background: #FFFFFF url("../images/logo2-u37271-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u23846
{
	z-index: 195;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 958px;
}

#u14761
{
	z-index: 197;
	width: 120px;
	height: 65px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/20160220170050-u14761-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u14764
{
	z-index: 196;
	width: 151px;
	height: 68px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 130px;
	background: #FFFFFF url("../images/20160220170206-u14764-fr.jpg") no-repeat center center;
	background-size: contain;
}

#pu13537
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 23px;
}

#u13537
{
	z-index: 2;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	border-width: 37px 0px 0px;
}

#u13537_position_content
{
	margin-top: -29px;
	padding-bottom: 12px;
}

#menuu17245
{
	z-index: 354;
	width: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#u17330
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17333
{
	width: 50px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u17333.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u17334-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u17333:hover #u17334-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17333:active #u17334-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17333:hover #u17334-6 p,#u17333:hover #u17334-6 span,#u17333:active #u17334-6 p,#u17333:active #u17334-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17334-3
{
	font-size: 12px;
	line-height: 17px;
}

#u17267
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u17326
{
	width: 115px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u17326:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u17326:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u17326.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u17329-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u17333.MuseMenuActive #u17334-6,#u17326:hover #u17329-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17326:active #u17329-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17326:hover #u17329-6 p,#u17326:hover #u17329-6 span,#u17326:active #u17329-6 p,#u17326:active #u17329-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17268
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u17271
{
	width: 75px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 86px 6px 2px;
}

#u17273-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17271:hover #u17273-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17333.MuseMenuActive #u17334-6 p,#u17333.MuseMenuActive #u17334-6 span,#u17326.MuseMenuActive #u17329-6 p,#u17326.MuseMenuActive #u17329-6 span,#u17271:hover #u17273-5 p,#u17271:hover #u17273-5 span,#u17271.MuseMenuActive #u17273-5 p,#u17271.MuseMenuActive #u17273-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17322
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u17325-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17271.MuseMenuActive #u17273-5,#u17322:hover #u17325-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17322:hover #u17325-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17301
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u17304-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17322.MuseMenuActive #u17325-4,#u17301:hover #u17304-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17322.MuseMenuActive #u17325-4 p,#u17301:hover #u17304-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17287
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u17288-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17301.MuseMenuActive #u17304-4,#u17287:hover #u17288-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17301.MuseMenuActive #u17304-4 p,#u17287:hover #u17288-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17306
{
	width: 67px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 94px 6px 2px;
}

#u17308-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17287.MuseMenuActive #u17288-4,#u17306:hover #u17308-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17287.MuseMenuActive #u17288-4 p,#u17306:hover #u17308-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17278
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u17280-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17306.MuseMenuActive #u17308-4,#u17278:hover #u17280-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17306.MuseMenuActive #u17308-4 p,#u17278:hover #u17280-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17269,#u17270,#u17319,#u17298,#u17284,#u17305,#u17277,#u17312
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u17315
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u17271:hover,#u17322:hover,#u17301:hover,#u17287:hover,#u17306:hover,#u17278:hover,#u17315:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u17316-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u17278.MuseMenuActive #u17280-4,#u17315:hover #u17316-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17315.MuseMenuActive #u17316-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u17278.MuseMenuActive #u17280-4 p,#u17315:hover #u17316-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u17246
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u17249
{
	width: 132px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u17249:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u17249:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u17251-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u17326.MuseMenuActive #u17329-6,#u17249:hover #u17251-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17249:active #u17251-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17249:hover #u17251-6 p,#u17249:hover #u17251-6 span,#u17249:active #u17251-6 p,#u17249:active #u17251-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17260
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u17263
{
	width: 60px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u17263:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u17263:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u17266-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u17249.MuseMenuActive #u17251-6,#u17263:hover #u17266-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17263:active #u17266-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17263:hover #u17266-6 p,#u17263:hover #u17266-6 span,#u17263:active #u17266-6 p,#u17263:active #u17266-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17253
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u17254
{
	width: 99px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u17254:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u17254:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u17256-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u17263.MuseMenuActive #u17266-6,#u17254:hover #u17256-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17254:active #u17256-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17254.MuseMenuActive #u17256-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u17254:hover #u17256-6 p,#u17254:hover #u17256-6 span,#u17254:active #u17256-6 p,#u17254:active #u17256-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u17334,#u17329,#u17251,#u17266,#u17256
{
	font-size: 16px;
	line-height: 22px;
}

#u17256-2
{
	font-weight: normal;
	line-height: 20px;
}

#u17329-3,#u17251-3,#u17266-3,#u17256-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

#u13695
{
	z-index: 120;
	width: 879px;
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: 9px;
	margin-top: 18px;
	position: relative;
	padding: 8px 23px 23px 351px;
}

#pu15114
{
	width: 0.01px;
	margin-left: 2px;
}

#u15114
{
	z-index: 185;
	width: 509px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u13660
{
	z-index: 186;
	width: 509px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u13661-4
{
	z-index: 191;
	width: 360px;
	min-height: 32px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	position: relative;
}

#u13662-4
{
	z-index: 187;
	width: 509px;
	min-height: 80px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	text-align: justify;
	margin-top: 1px;
	position: relative;
}

#pu13671-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 553px;
}

#u13671-6
{
	z-index: 121;
	width: 322px;
	min-height: 47px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	margin-left: 1px;
	position: relative;
}

#u13671
{
	font-size: 30px;
	line-height: 36px;
}

#u13671-2
{
	line-height: 43px;
}

#u13671-3
{
	font-size: 14px;
	font-weight: normal;
	line-height: 17px;
}

#u13689-4
{
	z-index: 172;
	width: 322px;
	min-height: 22px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	margin-left: 1px;
	margin-top: 4px;
	position: relative;
}

#u35870
{
	z-index: 127;
	width: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u13664
{
	z-index: 128;
	width: 318px;
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -5px;
	border-width: 1px 1px 1px 5px;
}

#u13664:hover
{
	border-color: #E1E4E7;
	width: 318px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u13670-5
{
	z-index: 131;
	width: 242px;
	min-height: 19px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #4EB2F0;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#u13672
{
	z-index: 129;
	-webkit-transform: matrix(0,-1,1,0,0,21);
	-ms-transform: matrix(0,-1,1,0,0,21);
	-o-transform: matrix(0,-1,1,0,0,21);
	transform: matrix(0,-1,1,0,0,21);
	position: relative;
	width: 21px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 286px;
}

#u35869
{
	z-index: 136;
	width: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u13694
{
	z-index: 137;
	width: 318px;
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -5px;
	border-width: 1px 1px 1px 5px;
}

#u13691-5
{
	z-index: 140;
	width: 182px;
	min-height: 20px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #4EB2F0;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

#u13692
{
	z-index: 138;
	-webkit-transform: matrix(0,-1,1,0,0,21);
	-ms-transform: matrix(0,-1,1,0,0,21);
	-o-transform: matrix(0,-1,1,0,0,21);
	transform: matrix(0,-1,1,0,0,21);
	position: relative;
	width: 21px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 286px;
}

#u35868
{
	z-index: 145;
	width: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 555px;
	margin-top: 5px;
	position: relative;
}

#u13680
{
	z-index: 146;
	width: 318px;
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #FFFFFF;
	padding-bottom: 9px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -5px;
	border-width: 1px 1px 1px 5px;
}

#u13683-5
{
	z-index: 149;
	width: 119px;
	min-height: 11px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #4EB2F0;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

#u13681
{
	z-index: 147;
	-webkit-transform: matrix(0,-1,1,0,0,21);
	-ms-transform: matrix(0,-1,1,0,0,21);
	-o-transform: matrix(0,-1,1,0,0,21);
	transform: matrix(0,-1,1,0,0,21);
	position: relative;
	width: 21px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 286px;
}

#u35871
{
	z-index: 154;
	width: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 555px;
	margin-top: 3px;
	position: relative;
}

#u13666
{
	z-index: 155;
	width: 318px;
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #FFFFFF;
	padding-bottom: 9px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -5px;
	border-width: 1px 1px 1px 5px;
}

#u13669-5
{
	z-index: 158;
	width: 119px;
	min-height: 11px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #4EB2F0;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

#u13667
{
	z-index: 156;
	-webkit-transform: matrix(0,-1,1,0,0,21);
	-ms-transform: matrix(0,-1,1,0,0,21);
	-o-transform: matrix(0,-1,1,0,0,21);
	transform: matrix(0,-1,1,0,0,21);
	position: relative;
	width: 21px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 286px;
}

#pu36511-4
{
	width: 0.01px;
	margin-top: 4px;
}

#u36511-4
{
	z-index: 296;
	width: 511px;
	min-height: 30px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u35872
{
	z-index: 163;
	width: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 556px;
}

#u13678
{
	z-index: 164;
	width: 317px;
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -5px;
	border-width: 1px 1px 1px 5px;
}

#u13678:hover
{
	border-color: #CED7E0;
	width: 317px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u13675-5
{
	z-index: 167;
	width: 119px;
	min-height: 19px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #4EB2F0;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u13676
{
	z-index: 165;
	-webkit-transform: matrix(0,-1,1,0,0,21);
	-ms-transform: matrix(0,-1,1,0,0,21);
	-o-transform: matrix(0,-1,1,0,0,21);
	transform: matrix(0,-1,1,0,0,21);
	position: relative;
	width: 21px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 285px;
}

#u35873
{
	z-index: 176;
	width: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 555px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u13688
{
	z-index: 177;
	width: 318px;
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #FFFFFF;
	padding-bottom: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -5px;
	border-width: 1px 1px 1px 5px;
}

#u13694:hover,#u13680:hover,#u13666:hover,#u13688:hover
{
	border-color: #CED7E0;
	width: 318px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u13685-5
{
	z-index: 180;
	width: 119px;
	min-height: 17px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #4EB2F0;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u13670,#u13691,#u13683,#u13669,#u13675,#u13685
{
	font-size: 15px;
	line-height: 18px;
}

#u13670-2,#u13691-2,#u13683-2,#u13669-2,#u13675-2,#u13685-2
{
	line-height: 13px;
}

#u13686
{
	z-index: 178;
	-webkit-transform: matrix(0,-1,1,0,0,21);
	-ms-transform: matrix(0,-1,1,0,0,21);
	-o-transform: matrix(0,-1,1,0,0,21);
	transform: matrix(0,-1,1,0,0,21);
	position: relative;
	width: 21px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 285px;
}

#u13672_img,#u13692_img,#u13681_img,#u13667_img,#u13676_img,#u13686_img
{
	display: block;
	vertical-align: top;
}

#tab-panelu13563
{
	z-index: 9;
	width: 1261px;
	border-color: #1290C6;
	background-color: #FFFFFF;
	margin-left: 9px;
	margin-top: 17px;
	position: relative;
}

#u13646
{
	z-index: 10;
	width: 1261px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u13655
{
	z-index: 11;
	width: 630px;
	min-height: 34px;
	border-style: solid;
	border-color: #EF5B30;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 0px;
}

#u13655:hover
{
	border-color: #EF5B30;
	background-color: #F2F2F2;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 630px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u13655.TabbedPanelsTabSelected
{
	border-color: #EF5B30;
	background-color: #448DD5;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	width: 630px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u13658-5
{
	z-index: 12;
	width: 630px;
	min-height: 34px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #666666;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u13655:hover #u13658-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u13651
{
	z-index: 17;
	width: 631px;
	min-height: 34px;
	border-style: solid;
	border-color: #EF5B30;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 629px;
	border-width: 1px 0px 0px;
}

#u13651:hover
{
	border-color: #EF5B30;
	background-color: #F2F2F2;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 631px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u13651.TabbedPanelsTabSelected
{
	border-color: #EF5B30;
	background-color: #448DD5;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	width: 631px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u13653-5
{
	z-index: 18;
	width: 631px;
	min-height: 34px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #666666;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u13651:hover #u13653-5
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u13655.TabbedPanelsTabSelected #u13658-5,#u13651.TabbedPanelsTabSelected #u13653-5
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
}

#u17315.MuseMenuActive #u17316-4 p,#u17249.MuseMenuActive #u17251-6 p,#u17249.MuseMenuActive #u17251-6 span,#u17263.MuseMenuActive #u17266-6 p,#u17263.MuseMenuActive #u17266-6 span,#u17254.MuseMenuActive #u17256-6 p,#u17254.MuseMenuActive #u17256-6 span,#u13655.TabbedPanelsTabSelected #u13658-5 p,#u13655.TabbedPanelsTabSelected #u13658-5 span,#u13651.TabbedPanelsTabSelected #u13653-5 p,#u13651.TabbedPanelsTabSelected #u13653-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u13658,#u13653
{
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
}

#u17334-2,#u17329-2,#u17251-2,#u17266-2,#u13658-2,#u13653-2
{
	line-height: 20px;
}

#u13564
{
	z-index: 23;
	width: 1261px;
	background-color: transparent;
	position: relative;
}

#u13583
{
	z-index: 24;
	width: 1261px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #FFFFFF;
	padding-bottom: 16px;
	margin-right: -10000px;
	position: relative;
	border-width: 30px 0px 0px;
}

#pu13590-38
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 31px;
}

#u13590-38
{
	z-index: 25;
	width: 730px;
	min-height: 336px;
	background-color: transparent;
	position: relative;
}

#u13590-2
{
	font-size: 34px;
	line-height: 41px;
	color: #1290C6;
}

#u13590-3
{
	font-size: 34px;
	line-height: 41px;
}

#u13590-6
{
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13590-4
{
	line-height: 17px;
}

#u13590-5,#u13590-9,#u13590-13,#u13590-16,#u13590-19,#u13590-22,#u13590-25,#u13590-28,#u13590-31,#u13590-35
{
	font-size: 12px;
	color: #000000;
	line-height: 14px;
}

#u14868
{
	z-index: 99;
	width: 190px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u14870
{
	z-index: 106;
	width: 35px;
	height: 31px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/20160216200155-u14870-fr.png") no-repeat center center;
	background-size: contain;
}

#u14869-6
{
	z-index: 100;
	width: 149px;
	min-height: 32px;
	background-color: transparent;
	color: #448DD5;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 41px;
}

#u17334-4,#u17329-4,#u17251-4,#u17266-4,#u17256-4,#u13671-4,#u13670-3,#u13691-3,#u13683-3,#u13669-3,#u13675-3,#u13685-3,#u13658-3,#u13653-3,#u14869-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u14869-3
{
	font-size: 10px;
	line-height: 12px;
}

#pu13584
{
	width: 0.01px;
	padding-bottom: 36px;
	margin-right: -10000px;
	margin-top: 55px;
	margin-left: 761px;
}

#u13584
{
	z-index: 63;
	width: 341px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 86px;
}

#u13586-4
{
	z-index: 93;
	width: 325px;
	min-height: 28px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	color: #1290C6;
	position: relative;
}

#u13585-29
{
	z-index: 64;
	width: 338px;
	min-height: 182px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	margin-left: 3px;
	margin-top: 28px;
	position: relative;
}

#u13585,#u13585-9,#u13585-14,#u13585-19,#u13585-24
{
	color: #1290C6;
	font-weight: bold;
}

#u13585-25
{
	color: #1290C6;
}

#u13588
{
	z-index: 97;
	width: 382px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,237,-145);
	-ms-transform: matrix(0,1,-1,0,237,-145);
	-o-transform: matrix(0,1,-1,0,237,-145);
	transform: matrix(0,1,-1,0,237,-145);
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: -145px;
}

#u37339
{
	z-index: 107;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 275px;
	left: 85px;
}

#u37341
{
	z-index: 109;
	width: 120px;
	height: 65px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/20160220170050-u14761-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u37340
{
	z-index: 108;
	width: 151px;
	height: 68px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 130px;
	background: #FFFFFF url("../images/20160220170206-u14764-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u37342-4
{
	z-index: 110;
	width: 325px;
	min-height: 28px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	color: #1290C6;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 84px;
}

#u13565
{
	z-index: 114;
	width: 1261px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #FFFFFF;
	padding-bottom: 99px;
	margin-right: -10000px;
	position: relative;
	border-width: 30px 0px 0px;
}

#u36512
{
	z-index: 115;
	width: 751px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 251px;
	background: #FFFFFF url("../images/20160304085209.jpg") no-repeat center center;
}

#u36524-4
{
	z-index: 116;
	width: 735px;
	min-height: 23px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: Courier New, Courier, monospace;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 8px;
}

#u31087
{
	z-index: 208;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 600px;
}

#u31530-4
{
	z-index: 209;
	width: 418px;
	min-height: 19px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 184px;
	left: 360px;
}

#u31546
{
	z-index: 213;
	width: 522px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
	left: 360px;
}

#u31533
{
	z-index: 219;
	width: 49px;
	height: 50px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	background: #FFFFFF url("../images/hp_logo-u31533-fr.png") no-repeat center center;
	background-size: cover;
}

#pu31531-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 63px;
}

#u31531-5
{
	z-index: 214;
	width: 447px;
	min-height: 55px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	text-align: justify;
	position: relative;
}

#u17273,#u13585-10,#u13585-15,#u13585-20,#u31531
{
	font-weight: bold;
}

#u31542-4
{
	z-index: 220;
	width: 73px;
	min-height: 14px;
	background-color: transparent;
	font-size: 10px;
	line-height: 12px;
	color: #1290C6;
	margin-left: 386px;
	margin-top: 6px;
	position: relative;
}

#u31542-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 6px 0px 0px 386px;
}

#pamphletu31558
{
	z-index: 224;
	width: 0.01px;
	height: 92px;
	position: relative;
	margin-right: -10000px;
	margin-top: 282px;
	left: 9px;
}

#u31574
{
	z-index: 225;
	width: 176px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 73px;
}

#u31577
{
	position: absolute;
	width: 29px;
	height: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #E1E4E7;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 145px;
}

#u31577:hover
{
	border-color: #E1E4E7;
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 29px;
	height: 3px;
	min-height: 0px;
	margin: 0px;
}

#u31576
{
	position: absolute;
	width: 29px;
	height: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #CED7E0;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 109px;
}

#u31576:hover
{
	border-color: #CED7E0;
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 29px;
	height: 3px;
	min-height: 0px;
	margin: 0px;
}

#u31599
{
	position: absolute;
	width: 29px;
	height: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #CED7E0;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 73px;
}

#u31599:hover
{
	border-color: #CED7E0;
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 29px;
	height: 3px;
	min-height: 0px;
	margin: 0px;
}

#u31607
{
	position: absolute;
	width: 29px;
	height: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #CED7E0;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 36px;
}

#u31607:hover
{
	border-color: #CED7E0;
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 29px;
	height: 3px;
	min-height: 0px;
	margin: 0px;
}

#u31609
{
	position: absolute;
	width: 29px;
	height: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #CED7E0;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u31609:hover
{
	border-color: #CED7E0;
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 29px;
	height: 3px;
	min-height: 0px;
	margin: 0px;
}

#u31577.PamphletThumbSelected,#u31576.PamphletThumbSelected,#u31599.PamphletThumbSelected,#u31607.PamphletThumbSelected,#u31609.PamphletThumbSelected
{
	border-color: #448DD5;
	background-color: #448DD5;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 29px;
	height: 3px;
	min-height: 0px;
	margin: 0px;
}

#u31561
{
	position: absolute;
	width: 340px;
	background-color: transparent;
}

#u31561popup
{
	z-index: 231;
}

#u31564
{
	z-index: 232;
	width: 340px;
	height: 86px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u31582
{
	z-index: 233;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 29px;
}

#u31579
{
	z-index: 234;
	width: 281px;
	border-color: #000000;
	background-color: #448DD5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u31580-4
{
	z-index: 235;
	width: 273px;
	min-height: 26px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 8px;
}

#u31587-4
{
	z-index: 239;
	width: 234px;
	min-height: 12px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 37px;
}

#u31562
{
	z-index: 243;
	width: 340px;
	height: 86px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u31593
{
	z-index: 244;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 29px;
}

#u31595
{
	z-index: 245;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u31596
{
	z-index: 246;
	width: 281px;
	border-color: #000000;
	background-color: #448DD5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u31597-4
{
	z-index: 247;
	width: 263px;
	min-height: 26px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 8px;
}

#u31598-4
{
	z-index: 251;
	width: 224px;
	min-height: 12px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u31600
{
	z-index: 255;
	width: 340px;
	height: 86px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u31641
{
	z-index: 256;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 29px;
}

#u31630
{
	z-index: 257;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u31632
{
	z-index: 258;
	width: 281px;
	border-color: #000000;
	background-color: #448DD5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u31631-4
{
	z-index: 259;
	width: 176px;
	min-height: 26px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 8px;
}

#u31634-4
{
	z-index: 263;
	width: 174px;
	min-height: 12px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 8px;
}

#u31639
{
	z-index: 267;
	width: 92px;
	height: 36px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 186px;
	background: transparent url("../images/thunderbolt-u31639-fr.png") no-repeat center center;
	background-size: contain;
}

#u31608
{
	z-index: 268;
	width: 340px;
	height: 86px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u31624
{
	z-index: 269;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 29px;
}

#u31626
{
	z-index: 270;
	width: 281px;
	border-color: #000000;
	background-color: #448DD5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u31625-4
{
	z-index: 271;
	width: 202px;
	min-height: 34px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 8px;
}

#u31627
{
	z-index: 275;
	width: 67px;
	height: 63px;
	-pie-box-shadow: 0px 0px 8px 2px #7F7F7F;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 238px;
	background: #FFFFFF url("../images/newproduct-u31627-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u31628-4
{
	z-index: 276;
	width: 187px;
	min-height: 12px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 37px;
}

#u31610
{
	z-index: 280;
	width: 340px;
	height: 86px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u31611
{
	z-index: 281;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 29px;
}

#u31614
{
	z-index: 282;
	width: 281px;
	border-color: #000000;
	background-color: #448DD5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#pu31616-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 8px;
}

#u31616-4
{
	z-index: 288;
	width: 93px;
	min-height: 12px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
}

#u31613-4
{
	z-index: 283;
	width: 176px;
	min-height: 26px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	color: #FFFFFF;
	margin-top: 2px;
	position: relative;
}

#u31615
{
	z-index: 287;
	width: 67px;
	height: 63px;
	-pie-box-shadow: 0px 0px 8px 2px #7F7F7F;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 209px;
	background: #FFFFFF url("../images/newproduct-u31627-fr.jpg") no-repeat center center;
	background-size: contain;
}

.MenuItem,.TabbedPanelsTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u31665-4
{
	z-index: 292;
	width: 418px;
	min-height: 21px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 360px;
}

#u13701
{
	z-index: 300;
	width: 291px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 36px;
}

#u13702
{
	z-index: 301;
	width: 291px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu13704
{
	z-index: 303;
	width: 0.01px;
	height: 217px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u13711
{
	z-index: 304;
	width: 258px;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 6px;
}

#u13716
{
	position: absolute;
	width: 69px;
	border-width: 1px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	-moz-border-radius: 6px 0px 0px 6px ;
	-webkit-border-radius: 6px 0px 0px 6px ;
	-khtml-border-radius: 6px 0px 0px 6px ;
	border-radius: 6px 0px 0px 6px ;
	padding-bottom: 4px;
	top: -6px;
	left: -6px;
}

#u13717-4
{
	z-index: 306;
	width: 60px;
	min-height: 12px;
	background-color: transparent;
	color: #666666;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 5px;
}

#u13716:hover #u13717-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u13720
{
	position: absolute;
	width: 70px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	top: -6px;
	left: 64px;
	border-width: 1px 0px;
}

#u13721-4
{
	z-index: 311;
	width: 57px;
	min-height: 12px;
	background-color: transparent;
	color: #666666;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 7px;
}

#u13720:hover #u13721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 6px -10000px 0px 0px;
}

#u13712
{
	position: absolute;
	width: 70px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 6px 6px 0px ;
	-webkit-border-radius: 0px 6px 6px 0px ;
	-khtml-border-radius: 0px 6px 6px 0px ;
	border-radius: 0px 6px 6px 0px ;
	padding-bottom: 6px;
	top: -6px;
	left: 204px;
	border-width: 1px 1px 1px 0px;
}

#u13713-4
{
	z-index: 316;
	width: 39px;
	min-height: 12px;
	background-color: transparent;
	color: #666666;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 16px;
}

#u13718
{
	position: absolute;
	width: 69px;
	border-width: 1px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	padding-bottom: 6px;
	top: 24px;
	left: -6px;
}

#u13719-4
{
	z-index: 321;
	width: 38px;
	min-height: 12px;
	background-color: transparent;
	color: #666666;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 14px;
}

#u13722
{
	position: absolute;
	width: 70px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 6px 6px 0px ;
	-webkit-border-radius: 0px 6px 6px 0px ;
	-khtml-border-radius: 0px 6px 6px 0px ;
	border-radius: 0px 6px 6px 0px ;
	padding-bottom: 6px;
	top: 24px;
	left: 203px;
	border-width: 1px 1px 1px 0px;
}

#u13723-4
{
	z-index: 326;
	width: 37px;
	min-height: 12px;
	background-color: transparent;
	color: #666666;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 16px;
}

#u13714
{
	position: absolute;
	width: 70px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	top: 24px;
	left: 64px;
	border-width: 1px 0px;
}

#u13715-4
{
	z-index: 331;
	width: 33px;
	min-height: 12px;
	background-color: transparent;
	color: #666666;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 18px;
}

#u15133
{
	position: absolute;
	width: 70px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	top: 24px;
	left: 133px;
	border-width: 1px 0px;
}

#u15133.PamphletThumbSelected
{
	border-color: #0685CB;
	background-color: #4EB2F0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u15136-4
{
	z-index: 336;
	width: 38px;
	min-height: 12px;
	background-color: transparent;
	color: #666666;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 14px;
}

#u13716:hover #u13717-4,#u15133:hover #u15136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u15137
{
	position: absolute;
	width: 70px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	top: -6px;
	left: 134px;
	border-width: 1px 0px;
}

#u15139-4
{
	z-index: 341;
	width: 39px;
	min-height: 12px;
	background-color: transparent;
	color: #666666;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 15px;
}

#u13712:hover #u13713-4,#u13718:hover #u13719-4,#u13722:hover #u13723-4,#u13714:hover #u13715-4,#u15137:hover #u15139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 5px -10000px 0px 0px;
}

#u13720:hover #u13721-4 p,#u13712:hover #u13713-4 p,#u13718:hover #u13719-4 p,#u13722:hover #u13723-4 p,#u13714:hover #u13715-4 p,#u15133:hover #u15136-4 p,#u15137:hover #u15139-4 p
{
	color: #4EB2F0;
	visibility: inherit;
}

#u13724
{
	position: absolute;
	width: 212px;
	background-color: transparent;
	left: 39px;
}

#u13724popup
{
	z-index: 345;
}

#u13725
{
	z-index: 346;
	width: 212px;
	height: 135px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/hp_workstation1_820-u13725-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u13728
{
	z-index: 347;
	width: 212px;
	height: 135px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/allinone_5-u13728-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u13727
{
	z-index: 348;
	width: 212px;
	height: 135px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/elitenotebook_1-u13727-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u13729
{
	z-index: 349;
	width: 212px;
	height: 135px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/hp_color_laser1-u13729-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u13730
{
	z-index: 350;
	width: 212px;
	height: 135px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/microserver_4-u13730-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u13726
{
	z-index: 351;
	width: 212px;
	height: 135px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/11-u13726-fr.png") no-repeat center center;
	background-size: contain;
}

#u15135
{
	z-index: 352;
	width: 212px;
	height: 135px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/ups-u15135-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u15138
{
	z-index: 353;
	width: 212px;
	height: 135px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/scanner-u15138-fr.png") no-repeat center center;
	background-size: contain;
}

#u30775-4
{
	z-index: 204;
	width: 414px;
	background-color: transparent;
	color: #666666;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	margin-left: 444px;
	margin-top: 11px;
	position: relative;
}

#ppu37538-4
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: -7px;
}

#pu37538-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
}

#u37538-4
{
	z-index: 443;
	width: 267px;
	min-height: 19px;
	background-color: transparent;
	position: relative;
}

#pu37539-4
{
	width: 0.01px;
	margin-left: 134px;
	margin-top: 3px;
}

#u37539-4
{
	z-index: 447;
	width: 43px;
	min-height: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u37540-4
{
	z-index: 451;
	width: 159px;
	min-height: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u37540-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u31542-4:hover p,#u37540-4:hover p
{
	text-decoration: underline;
}

#u36726
{
	z-index: 198;
	width: 259px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 977px;
}

#u23356
{
	z-index: 199;
	width: 210px;
	min-height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 49px;
}

#u23358-4
{
	z-index: 200;
	width: 73px;
	min-height: 11px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

