.version.latest_amlutech_imported_desktop__hp_envy_750xt_desktop /* version checker */
{
	color: #0000F6;
	background-color: #704C3C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 62px;
}

#u29142
{
	z-index: 23;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 7px;
	margin-left: 14px;
	position: relative;
}

#u29148
{
	z-index: 24;
	width: 1253px;
	border-color: #1290C6;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u37406
{
	z-index: 219;
	width: 652px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u37407
{
	z-index: 220;
	width: 120px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/logo1-u37434-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37408
{
	z-index: 221;
	width: 518px;
	height: 56px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 134px;
	background: #FFFFFF url("../images/logo2-u37435-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u34038
{
	z-index: 203;
	width: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 114px;
}

#u34039
{
	z-index: 204;
	width: 500px;
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 93px;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 114px;
}

#u34040
{
	z-index: 205;
	width: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 21px;
	left: 50%;
	margin-left: 114px;
}

#u34042
{
	z-index: 216;
	width: 85px;
	height: 94px;
	border-color: #000000;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/20160223035837-u35811-fr.png") no-repeat center center;
	background-size: cover;
}

#u34041-10
{
	z-index: 206;
	width: 403px;
	min-height: 62px;
	background-color: transparent;
	color: #1290C6;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 91px;
}

#u34041-2
{
	font-size: 15px;
	line-height: 18px;
}

#u34041-5
{
	font-size: 10px;
	line-height: 12px;
}

#u34041-8
{
	font-size: 9px;
	line-height: 11px;
}

#pu34045
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 72px;
	margin-left: 93px;
}

#u34045
{
	z-index: 217;
	width: 315px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u34043
{
	z-index: 218;
	width: 70px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 338px;
}

#pu29136
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 23px;
}

#u29136
{
	z-index: 6;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	border-width: 37px 0px 0px;
}

#u29136_position_content
{
	margin-top: -29px;
	padding-bottom: 18px;
}

#menuu29402
{
	z-index: 61;
	width: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#u29466
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u29467
{
	width: 50px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u29467:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u29467:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u29470-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u29467:hover #u29470-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u29467:active #u29470-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u29467:hover #u29470-6 p,#u29467:hover #u29470-6 span,#u29467:active #u29470-6 p,#u29467:active #u29470-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u29470-3
{
	font-size: 12px;
	line-height: 17px;
}

#u29403
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u29404
{
	width: 115px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u29404:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u29404:active
{
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u29404.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px;
}

#u29405-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u29467.MuseMenuActive #u29470-6,#u29404:hover #u29405-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u29404:active #u29405-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u29404:hover #u29405-6 p,#u29404:hover #u29405-6 span,#u29404:active #u29405-6 p,#u29404:active #u29405-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u29408
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u29411
{
	width: 75px;
	border-style: solid;
	border-color: #4EB2F0;
	background-color: #448DD5;
	position: relative;
	margin-right: -10000px;
	padding: 2px 82px 6px 2px;
	border-width: 0px 0px 0px 4px;
}

#u29411:hover
{
	background-color: #448DD5;
	width: 75px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u29414-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u29411:hover #u29414-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u29467.MuseMenuActive #u29470-6 p,#u29467.MuseMenuActive #u29470-6 span,#u29404.MuseMenuActive #u29405-6 p,#u29404.MuseMenuActive #u29405-6 span,#u29411:hover #u29414-5 p,#u29411:hover #u29414-5 span,#u29411.MuseMenuActive #u29414-5 p,#u29411.MuseMenuActive #u29414-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u29462
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u29465-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u29411.MuseMenuActive #u29414-5,#u29462:hover #u29465-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u29462:hover #u29465-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u29418
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u29420-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u29462.MuseMenuActive #u29465-4,#u29418:hover #u29420-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u29462.MuseMenuActive #u29465-4 p,#u29418:hover #u29420-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u29453
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u29454-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u29418.MuseMenuActive #u29420-4,#u29453:hover #u29454-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u29418.MuseMenuActive #u29420-4 p,#u29453:hover #u29454-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u29432
{
	width: 67px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 94px 6px 2px;
}

#u29435-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u29453.MuseMenuActive #u29454-4,#u29432:hover #u29435-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u29453.MuseMenuActive #u29454-4 p,#u29432:hover #u29435-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u29448
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u29451-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u29432.MuseMenuActive #u29435-4,#u29448:hover #u29451-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u29432.MuseMenuActive #u29435-4 p,#u29448:hover #u29451-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u29409,#u29410,#u29459,#u29417,#u29452,#u29431,#u29445,#u29438
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u29439
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u29462:hover,#u29418:hover,#u29453:hover,#u29432:hover,#u29448:hover,#u29439:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u29441-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u29448.MuseMenuActive #u29451-4,#u29439:hover #u29441-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u29439.MuseMenuActive #u29441-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u29448.MuseMenuActive #u29451-4 p,#u29439:hover #u29441-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u29473
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u29474
{
	width: 132px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u29474:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u29474:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u29476-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u29404.MuseMenuActive #u29405-6,#u29474:hover #u29476-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u29474:active #u29476-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u29474:hover #u29476-6 p,#u29474:hover #u29476-6 span,#u29474:active #u29476-6 p,#u29474:active #u29476-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u29480
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u29481
{
	width: 60px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u29481:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u29481:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u29483-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u29474.MuseMenuActive #u29476-6,#u29481:hover #u29483-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u29481:active #u29483-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u29481:hover #u29483-6 p,#u29481:hover #u29483-6 span,#u29481:active #u29483-6 p,#u29481:active #u29483-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u29470-2,#u29405-2,#u29476-2,#u29483-2
{
	line-height: 20px;
}

#u29487
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u29488
{
	width: 99px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u29488:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u29488:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u29489-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u29481.MuseMenuActive #u29483-6,#u29488:hover #u29489-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u29488:active #u29489-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u29488.MuseMenuActive #u29489-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u29488:hover #u29489-6 p,#u29488:hover #u29489-6 span,#u29488:active #u29489-6 p,#u29488:active #u29489-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u29439.MuseMenuActive #u29441-4 p,#u29474.MuseMenuActive #u29476-6 p,#u29474.MuseMenuActive #u29476-6 span,#u29481.MuseMenuActive #u29483-6 p,#u29481.MuseMenuActive #u29483-6 span,#u29488.MuseMenuActive #u29489-6 p,#u29488.MuseMenuActive #u29489-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u29489-2
{
	font-weight: normal;
	line-height: 20px;
}

#u29405-3,#u29476-3,#u29483-3,#u29489-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

#u29137
{
	z-index: 7;
	width: 1246px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 13px;
	margin-top: 17px;
	position: relative;
}

#u29137_position_content
{
	padding-top: 15px;
	padding-bottom: 7px;
}

#ppu29138-5
{
	width: 0.01px;
	margin-left: 20px;
}

#pu29138-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u29138-5
{
	z-index: 8;
	width: 296px;
	min-height: 43px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
}

#u29470-4,#u29405-4,#u29476-4,#u29483-4,#u29489-4,#u29138-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u29138
{
	line-height: 43px;
}

#u29138-2
{
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
}

#u29139-5
{
	z-index: 13;
	width: 205px;
	min-height: 36px;
	background-color: transparent;
	font-size: 23px;
	line-height: 28px;
	color: #1290C6;
	font-weight: normal;
	margin-top: 4px;
	position: relative;
}

#u34041-3,#u34041-6,#u29414,#u29139
{
	font-weight: bold;
}

#u29496
{
	z-index: 147;
	width: 790px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 408px;
}

#u29495-5
{
	z-index: 170;
	width: 159px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
	border-width: 1px 1px 4px;
}

#u29495-5:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 159px;
	margin: 0px -10000px -4px 0px;
	border-width: 1px 1px 4px;
}

#u29370-5
{
	z-index: 165;
	width: 159px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 167px;
	border-width: 1px 1px 4px;
}

#u29370-5:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 159px;
	margin: -1px -10000px -3px 0px;
	border-width: 1px 1px 4px;
}

#u29369-5
{
	z-index: 155;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 334px;
	border-width: 1px 1px 4px;
}

#u29368-5
{
	z-index: 160;
	width: 167px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 479px;
	border-width: 1px 1px 4px;
}

#u29368-5:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 167px;
	margin: -1px -10000px -3px 0px;
	border-width: 1px 1px 4px;
}

#u29371-7
{
	z-index: 148;
	width: 136px;
	min-height: 74px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #1290C6;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 653px;
	border-width: 1px 1px 4px;
}

#u29369-5:hover,#u29371-7:hover
{
	border-style: solid;
	border-color: #1290C6;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 136px;
	margin: -1px -10000px -3px 0px;
	border-width: 1px 1px 4px;
}

#u29371
{
	font-weight: normal;
}

#u29371-3
{
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u29371-5
{
	font-weight: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u29470,#u29405,#u29476,#u29483,#u29489,#u29371-2,#u29371-4
{
	font-size: 16px;
	line-height: 22px;
}

#u29140-4
{
	z-index: 18;
	width: 192px;
	min-height: 15px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	color: #1290C6;
	font-weight: normal;
	font-style: italic;
	margin-left: 20px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu29141
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 8px;
}

#u29141
{
	z-index: 22;
	width: 541px;
	border-color: #000000;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/hp-envy-750xt%20desktop.jpg") no-repeat center center;
	background-size: cover;
}

#u29306
{
	z-index: 57;
	vertical-align: top;
	width: 102px;
	height: 87px;
	position: relative;
	margin-right: -10000px;
	margin-top: -24px;
	left: 287px;
	background: url("../images/newproduct-u29306.png") no-repeat 0px 0px;
}

#u29211
{
	z-index: 51;
	width: 124px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 341px;
	left: 404px;
}

#u29212
{
	z-index: 56;
	width: 30px;
	height: 26px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/link-u29212-fr.png") no-repeat center center;
	background-size: contain;
}

#u29213-4
{
	z-index: 52;
	width: 91px;
	min-height: 20px;
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	color: #448DD5;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 33px;
}

#u29213-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 2px -10000px 0px 0px;
}

#u29213-4:hover p
{
	text-decoration: underline;
}

#pu29175-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 557px;
}

#u29175-7
{
	z-index: 25;
	width: 449px;
	min-height: 63px;
	background-color: transparent;
	position: relative;
}

#u29175-2
{
	font-size: 14px;
	font-weight: bold;
}

#u29175-3,#u29175-5
{
	font-size: 11px;
	line-height: 13px;
}

#u29354
{
	z-index: 32;
	width: 431px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u29176
{
	z-index: 33;
	width: 197px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u29178-4
{
	z-index: 38;
	width: 197px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: justify;
	font-weight: bold;
	position: relative;
}

#u29177-4
{
	z-index: 34;
	width: 197px;
	min-height: 58px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	text-align: justify;
	position: relative;
}

#u29179
{
	z-index: 42;
	width: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u29181-4
{
	z-index: 47;
	width: 210px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	text-align: justify;
	font-weight: bold;
	position: relative;
}

#u29180-4
{
	z-index: 43;
	width: 210px;
	min-height: 46px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	text-align: justify;
	margin-top: 1px;
	position: relative;
}

#u29333
{
	z-index: 59;
	width: 192px;
	height: 119px;
	border-color: #000000;
	margin-top: 4px;
	position: relative;
	background: transparent url("../images/graph-u29333-fr.jpg") no-repeat center center;
	background-size: contain;
}

#u29334
{
	z-index: 60;
	width: 215px;
	height: 338px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 1011px;
	background: transparent url("../images/c04954231-u29334-fr.png") no-repeat center center;
	background-size: cover;
}

#u29314
{
	z-index: 58;
	width: 193px;
	height: 127px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 307px;
	left: 798px;
	background: transparent url("../images/cyberlink-u29314-fr.jpg") no-repeat center center;
	background-size: contain;
}

#pamphletu30002
{
	z-index: 175;
	width: 0.01px;
	height: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 441px;
	left: 531px;
}

#u30003
{
	z-index: 176;
	width: 64px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 231px;
}

#u30005
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u30005:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30004
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 19px;
}

#u30004:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30007
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 37px;
}

#u30007:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30006
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 55px;
}

#u30006:hover
{
	background-color: #29ABE2;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30005.PamphletThumbSelected,#u30004.PamphletThumbSelected,#u30007.PamphletThumbSelected,#u30006.PamphletThumbSelected
{
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u30008
{
	position: absolute;
	width: 549px;
	background-color: transparent;
}

#u30008popup
{
	z-index: 181;
}

#u30009
{
	z-index: 182;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30010-4
{
	z-index: 183;
	width: 549px;
	min-height: 26px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u30013
{
	z-index: 187;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30014-4
{
	z-index: 188;
	width: 549px;
	min-height: 28px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u30011
{
	z-index: 192;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30012-4
{
	z-index: 193;
	width: 549px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u30015
{
	z-index: 197;
	width: 549px;
	height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u30016-4
{
	z-index: 198;
	width: 549px;
	background-color: transparent;
	font-size: 18px;
	color: #29ABE2;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u31110
{
	z-index: 202;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
	left: 418px;
}

#u29135-4
{
	z-index: 2;
	width: 1168px;
	min-height: 25px;
	background-color: transparent;
	color: #666666;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	margin-left: 66px;
	margin-top: 7px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

