.version.pin_point_amlutech__google_map_ /* version checker */
{
	color: #000003;
	background-color: #E634FE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1300px;
	min-height: 499.9394852023431px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 62px;
}

#u13892
{
	z-index: 2;
	width: 1273px;
	border-color: #000000;
	background-color: #F2F2F2;
	padding-bottom: 6px;
	margin-left: 15px;
	position: relative;
}

#u13899
{
	z-index: 3;
	width: 1253px;
	-pie-box-shadow: 5px 6px 136px #F0F1F3;
	-moz-box-shadow: 5px 6px 136px rgba(225, 228, 231, 0.5);
	-webkit-box-shadow: 5px 6px 136px -1px rgba(225, 228, 231, 0.5);
	box-shadow: 5px 6px 136px rgba(225, 228, 231, 0.5);
	border-color: #1290C6;
	background-color: #FFFFFF;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u37430
{
	z-index: 124;
	width: 652px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u37431
{
	z-index: 125;
	width: 120px;
	height: 82px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/logo1-u37434-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u37432
{
	z-index: 126;
	width: 518px;
	height: 56px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 134px;
	background: #FFFFFF url("../images/logo2-u37435-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u34539
{
	z-index: 97;
	width: 93px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1153px;
}

#u34539_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u34541-4
{
	z-index: 99;
	width: 93px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	font-weight: bold;
	left: -1px;
	position: relative;
}

#u34540
{
	z-index: 98;
	width: 93px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #448DD5;
	left: -1px;
	position: relative;
	background: #FFFFFF url("../images/20160220170050-u34575-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu13916
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 21px;
}

#u13916
{
	z-index: 8;
	width: 1273px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #F2F2F2;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
	border-width: 37px 0px 0px;
}

#u13916_position_content
{
	margin-top: -29px;
	padding-bottom: 26px;
}

#menuu20914
{
	z-index: 10;
	width: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 6px;
	position: relative;
}

#u20915
{
	width: 100px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u20918
{
	width: 50px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u20918:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 2px;
}

#u20918:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 50px;
	min-height: 0px;
	margin: 0px 0px 2px;
}

#u20921-6
{
	width: 50px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u20918:hover #u20921-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20918:active #u20921-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20918:hover #u20921-6 p,#u20918:hover #u20921-6 span,#u20918:active #u20921-6 p,#u20918:active #u20921-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u20921-3
{
	font-size: 12px;
	line-height: 17px;
}

#u20936
{
	width: 165px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u20937
{
	width: 115px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u20937:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 115px;
	min-height: 0px;
	margin: 0px 0px 2px;
}

#u20937:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 115px;
	min-height: 0px;
	margin: 0px 0px 2px;
}

#u20937.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #448DD5;
	width: 115px;
	min-height: 0px;
	margin: 0px 0px 2px;
}

#u20939-6
{
	width: 115px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u20918.MuseMenuActive #u20921-6,#u20937:hover #u20939-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20937:active #u20939-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20937:hover #u20939-6 p,#u20937:hover #u20939-6 span,#u20937:active #u20939-6 p,#u20937:active #u20939-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u20941
{
	width: 163px;
	background-color: transparent;
	top: 29px;
}

#u20960
{
	width: 75px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 86px 6px 2px;
}

#u20962-5
{
	width: 71px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u20960:hover #u20962-5
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20918.MuseMenuActive #u20921-6 p,#u20918.MuseMenuActive #u20921-6 span,#u20937.MuseMenuActive #u20939-6 p,#u20937.MuseMenuActive #u20939-6 span,#u20960:hover #u20962-5 p,#u20960:hover #u20962-5 span,#u20960.MuseMenuActive #u20962-5 p,#u20960.MuseMenuActive #u20962-5 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20962
{
	font-weight: bold;
}

#u20986
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u20989-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u20960.MuseMenuActive #u20962-5,#u20986:hover #u20989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20986:hover #u20989-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20972
{
	width: 107px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 54px 6px 2px;
}

#u20975-4
{
	width: 103px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u20986.MuseMenuActive #u20989-4,#u20972:hover #u20975-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20986.MuseMenuActive #u20989-4 p,#u20972:hover #u20975-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20944
{
	width: 65px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 96px 6px 2px;
}

#u20945-4
{
	width: 61px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u20972.MuseMenuActive #u20975-4,#u20944:hover #u20945-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20972.MuseMenuActive #u20975-4 p,#u20944:hover #u20945-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20965
{
	width: 67px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 94px 6px 2px;
}

#u20967-4
{
	width: 63px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u20944.MuseMenuActive #u20945-4,#u20965:hover #u20967-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20944.MuseMenuActive #u20945-4 p,#u20965:hover #u20967-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20953
{
	width: 47px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 114px 6px 2px;
}

#u20955-4
{
	width: 43px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u20965.MuseMenuActive #u20967-4,#u20953:hover #u20955-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20965.MuseMenuActive #u20967-4 p,#u20953:hover #u20955-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20942,#u20957,#u20985,#u20971,#u20943,#u20964,#u20950,#u20978
{
	width: 163px;
	background-color: transparent;
	position: relative;
}

#u20979
{
	width: 77px;
	border-color: #448DD5;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 2px 84px 6px 2px;
}

#u20960:hover,#u20986:hover,#u20972:hover,#u20944:hover,#u20965:hover,#u20953:hover,#u20979:hover
{
	border-style: none;
	background-color: #448DD5;
	margin: 0px -10000px 0px 0px;
}

#u20981-4
{
	width: 73px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #448DD5;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	position: relative;
}

#u20953.MuseMenuActive #u20955-4,#u20979:hover #u20981-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20979.MuseMenuActive #u20981-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px;
}

#u20953.MuseMenuActive #u20955-4 p,#u20979:hover #u20981-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20999
{
	width: 182px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#u21002
{
	width: 132px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u21002:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 132px;
	min-height: 0px;
	margin: 0px 0px 2px;
}

#u21002:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 132px;
	min-height: 0px;
	margin: 0px 0px 2px;
}

#u21003-6
{
	width: 132px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u20937.MuseMenuActive #u20939-6,#u21002:hover #u21003-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u21002:active #u21003-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u21002:hover #u21003-6 p,#u21002:hover #u21003-6 span,#u21002:active #u21003-6 p,#u21002:active #u21003-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u20922
{
	width: 110px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u20923
{
	width: 60px;
	border-style: solid;
	border-color: #448DD5;
	background-color: #448DD5;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u20923:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 60px;
	min-height: 0px;
	margin: 0px 0px 2px;
}

#u20923:active
{
	border-color: #FFFFFF;
	background-color: #6B6B6B;
	width: 60px;
	min-height: 0px;
	margin: 0px 0px 2px;
}

#u20925-6
{
	width: 60px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u21002.MuseMenuActive #u21003-6,#u20923:hover #u20925-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20923:active #u20925-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20923:hover #u20925-6 p,#u20923:hover #u20925-6 span,#u20923:active #u20925-6 p,#u20923:active #u20925-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u20921-2,#u20939-2,#u21003-2,#u20925-2
{
	line-height: 20px;
}

#u20929
{
	width: 148px;
	min-height: 29px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#u20930
{
	width: 99px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #448DD5;
	padding-left: 24px;
	padding-right: 25px;
	padding-bottom: 4px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u20930:hover
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u20930:active
{
	background-color: #6B6B6B;
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u20931-6
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u20923.MuseMenuActive #u20925-6,#u20930:hover #u20931-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20930:active #u20931-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20930.MuseMenuActive #u20931-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u20930:hover #u20931-6 p,#u20930:hover #u20931-6 span,#u20930:active #u20931-6 p,#u20930:active #u20931-6 span
{
	color: #448DD5;
	visibility: inherit;
}

#u20979.MuseMenuActive #u20981-4 p,#u21002.MuseMenuActive #u21003-6 p,#u21002.MuseMenuActive #u21003-6 span,#u20923.MuseMenuActive #u20925-6 p,#u20923.MuseMenuActive #u20925-6 span,#u20930.MuseMenuActive #u20931-6 p,#u20930.MuseMenuActive #u20931-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u20921-4,#u20939-4,#u21003-4,#u20925-4,#u20931-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u20921,#u20939,#u21003,#u20925,#u20931
{
	font-size: 16px;
	line-height: 22px;
}

#u20931-2
{
	font-weight: normal;
	line-height: 20px;
}

#u20939-3,#u21003-3,#u20925-3,#u20931-3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u13917
{
	z-index: 9;
	width: 1260px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 152px;
	margin-left: 6px;
	margin-top: 9px;
	position: relative;
}

#u31096
{
	z-index: 96;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 63px;
}

#u36716
{
	z-index: 103;
	width: 1201px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 46px;
}

#u36715
{
	z-index: 107;
	width: 299px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
}

#u14430
{
	z-index: 112;
	width: 167px;
	height: 162px;
	border-color: #000000;
	margin-left: 64px;
	position: relative;
	background: #FFFFFF url("../images/20160216200301-u14430-fr.png") no-repeat center center;
	background-size: contain;
}

#u13941-4
{
	z-index: 108;
	width: 201px;
	min-height: 32px;
	background-color: transparent;
	font-size: 20px;
	color: #7F7F7F;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 44px;
	margin-top: 40px;
	position: relative;
}

#u36714-11
{
	z-index: 113;
	width: 299px;
	min-height: 62px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 18px;
	position: relative;
}

#u36714,#u36714-6
{
	font-weight: 400;
}

#u13942
{
	z-index: 104;
	width: 360px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-webkit-transform: matrix(0,1,-1,0,184,-176);
	-ms-transform: matrix(0,1,-1,0,184,-176);
	-o-transform: matrix(0,1,-1,0,184,-176);
	transform: matrix(0,1,-1,0,184,-176);
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 161px;
}

#u36710
{
	z-index: 106;
	width: 838px;
	min-height: 433px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 363px;
}

#u13915-4
{
	z-index: 4;
	width: 1168px;
	min-height: 25px;
	background-color: transparent;
	color: #666666;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	margin-left: 66px;
	margin-top: 9px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 36px;
	padding-bottom: 36px;
}

